.benefit-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media screen and (min-width: $widthTablet) {
    justify-content: unset;
    align-items: unset;
  }

  gap: 30px;

  @media screen and (min-width: $widthTablet) {
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: space-around;
  }

  &__item {
    width: 100%;
    max-width: 474px;
    border-radius: 10px;

    padding: 20px;
    background-color: rgba(179, 176, 176, 0.149);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    @media screen and (min-width: $widthTablet) {
      width: 314px;
    }
    @media screen and (min-width: $widthDesktop) {
      width: 354px;
    }
  }

  &__canvas {
    display: flex;
    padding: 10px 0;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  &__icon {
    display: block;
    width: 70px;
    height: 70px;
  }

  &__title {
    display: inline-block;
    color: $primaryTextColor;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;
  }

  &__description {
    display: inline-block;
    margin-top: 0;
    color: $primaryTextColor;
    font-size: 14px;
    line-height: 1.71;
    text-align: justify;
  }
}
