.menu__container {
  background-color: $secondAccentColor;

  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &.open {
    transform: translateX(0);
  }
}

.menu-toggle {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1;
  min-height: 20px;
  min-width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;

  padding: 0;
  background-color: transparent;
  color: $primaryColor;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;

  &:hover,
  &:focus {
    color: $accentColor;
  }
}

.menu__overlay {
  width: auto;
  margin-bottom: 20px;
  height: 260px;
  background-image: url(../images/world_w.svg);

  background-position: center;
  background-size: cover;

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    & {
      background-image: url(../images/world_w.svg);
    }
  }

  @media screen and (min-width: $widthTablet) {
    background-image: url(../images/world_w.svg);

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      & {
        background-image: url(../images/world_w.svg);
      }
    }
  }

  @media screen and (min-width: $widthDesktop) {
    background-size: cover;

    background-image: url(../images/world_w.svg);

    background-position: center;
    // background-size: 1600px 600px;

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      & {
        background-image: url(../images/world_w.svg);
      }
    }
  }
}

.menu__frame {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.menu {
  padding: 30px 30px 0 30px;
  margin-bottom: 20px;

  &__bottom {
    padding: 0 30px 30px 30px;
  }

  & > li {
    margin-bottom: 14px;
  }

  &__link {
    color: $primaryColor;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      transform: scale(1.1);
    }
  }

  // &__contacts {
  //   display: flex;
  //   flex-direction: column;
  //   margin-bottom: 30px;

  //   & > li {
  //     margin-bottom: 12px;
  //     &:last-child {
  //       margin-bottom: 0;
  //     }
  //   }

  //   &--link {
  //     color: $primaryColor;
  //     font-weight: 500;
  //     font-size: 20px;
  //     line-height: 1.17;
  //     letter-spacing: 0.02em;

  //     &:hover,
  //     &:focus {
  //       color: $accentColor;
  //     }
  //   }
  // }

  &__social-net {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;

    & > li {
      margin-right: 16px;
      &:last-child {
        margin-right: 0;
        ::after {
          display: none;
        }
      }
    }

    &--link {
      position: relative;
      display: inline-block;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.22;
      letter-spacing: 0.02em;
      color: $primaryColor;

      &:hover,
      &:focus {
        color: $accentColor;
      }

      &::after {
        content: '';

        position: absolute;
        top: 0;
        left: calc(100% + 8px);

        display: block;
        height: 100%;
        width: 1px;

        background-color: $primaryColor;
      }
    }
  }
}
