.button {
  border: 1px solid white;
  color: white;
  border-radius: 8px;
  background-color: transparent;
  cursor: pointer;
  min-width: 30px;

  display: flex;
  justify-content: center;
  align-items: center;

  text-transform: uppercase;
}

.btn-hero {
  font-size: 14px;
  font-weight: 700;
  // width: 160px;
  border: 1px solid $accentColor;
  color: white;
  background-color: $accentColor;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:last-child {
    margin-right: 0;
  }
  &:hover,
  &:focus,
  &:active {
    border: 1px solid $accentColor;
    background-color: $accentColor;
    color: $primaryColor;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    transform: scale(1.07);
  }

  width: 100%;
  width: 180px;
  height: 44px;
}

.btn-modal {
  border: 1px solid $textColor;
  color: $textColor;

  &:last-child {
    margin-right: 0;
  }
  &:hover,
  &:focus,
  &:active {
    border: 1px solid $accentColor;
    background-color: $accentColor;
    color: $primaryColor;
  }

  width: 100%;
  max-width: 140px;
  height: 44px;
}

.white {
  border-color: white;
  color: white;
  gap: 8px;
  padding: 8px;
}

.btn-modal-auth {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  border: 1px solid $textColor;
  color: $textColor;
  margin-bottom: 24px;
  &:last-child {
    margin-right: 0;
  }
  &:hover,
  &:focus,
  &:active {
    border: 1px solid $accentColor;
    background-color: $accentColor;
    color: $primaryColor;
  }
  width: 130px;
  height: 44px;
  @media (min-width: $widthTablet) {
    width: 152px;
  }
  @media (min-width: $widthDesktop) {
    width: 152px;
  }
}

.btn_header {
  &:hover,
  &:focus,
  &:active {
    border: 1px solid $accentColor;
    background-color: $accentColor;
    color: $primaryColor;
  }

  width: 100%;
  height: 44px;
}

.active_btn {
  border: 1px solid $accentColor;
  background-color: $accentColor;
  color: $primaryColor;
}

.search-button {
  border: transparent;
  border-bottom: 1px solid $primaryColor;
  background-color: transparent;
  cursor: pointer;
  width: 30px;
  height: 30px;
}

.delete-button {
  border: transparent;
  background-color: $accentColor;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  top: 93%;
  left: 90%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.wrapper-btn {
  display: flex;
  justify-content: center;
}
