.header {
  // background-image: url('../images/abstract-background-with-red-lines_mob_1x.jpg');
  // background-position: center;
  // background-size: cover;
  // background-color: rgb(100, 118, 215);
  // background-color: rgba(104, 105, 111, 0.771);
  background-color: $secondAccentColor;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  padding: 30px;
  // margin-bottom: 30px;
  // padding: 30px 0 20px;

  // @media (min-device-pixel-ratio: 2),
  //   (min-resolution: 192dpi),
  //   (min-resolution: 2dppx) {
  //   background-image: url('../images/abstract-background-with-red-lines_mob_2x.jpg');
  // }

  @media screen and (min-width: $widthTablet) {
    // padding: 40px 0;
    // background-image: url('../images/abstract-background-with-red-lines_tab_1x.jpg');
    // padding: 60px 0;

    // @media (min-device-pixel-ratio: 2),
    //   (min-resolution: 192dpi),
    //   (min-resolution: 2dppx) {
    //   background-image: url('../images/abstract-background-with-red-lines_tab_2x.jpg');
    // }
  }
}

.nav-wrapper {
  display: flex;
}

.logo {
  display: flex;
  color: $primaryColor;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 30px;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    transform: scale(1.1);
  }
}

.logo-name {
  pointer-events: none;
}

.navigation {
  margin-left: auto;
  @media (max-width: $widthTablet) {
  }
}

.nav-list {
  display: flex;
  justify-content: end;
  gap: 30px;
  @media (max-width: $widthTablet) {
    gap: 20px;
  }
}

.nav_item {
  display: inline-block;
  color: $primaryColor;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    transform: scale(1.1);
  }

  @media (max-width: $widthTablet) {
    display: none;
  }
}

.delete {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}

.icon-menu {
  width: 20px;
  height: 20px;
  fill: $primaryColor;
  cursor: pointer;

  @media (min-width: ($widthTablet + 1px)) {
    display: none;
  }
  @media (max-width: $widthTablet) {
    display: block;
  }
}

.nav_list_button {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.nav_button {
  width: 130px;
  @media (min-width: $widthTablet) {
    width: 152px;
  }
  @media (min-width: $widthDesktop) {
    width: 152px;
  }
}

.menu-lang {
  position: relative;

  cursor: pointer;
}

.menu-lang a {
  display: inline-block;
  color: $primaryColor;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    transform: scale(1.1);
  }
}

.sub-menu__list {
  background-color: $accentColor;

  position: absolute; /* Абсолютне позиціонування */
  top: 28px; /* Відступ від верху батьківського елемента */
  left: -11px; /* Зміщення зліва */
  opacity: 0.9;

  width: fit-content;

  display: none;
  padding: 12px 8px;

  border-radius: 12px;
}

.sub-menu__list > li {
  color: $primaryColor;
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 8px;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    transform: scale(1.1);
  }
  &:last-child {
    margin-bottom: 0;
  }
}

.active {
  display: block;
}

// .menu__list:hover .sub-menu__list {
//   display: block;
// }

// .menu-lang a:hover .sub-menu__list {
//   display: block;
// }

// .nav_item--current::after {
//   content: '';
//   color: $accentColor;
//   right: 0;
//   bottom: -1px;
//   display: block;
//   width: 100%;
//   height: 4px;
//   background-color: currentColor;
//   opacity: 1;
//   transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }
