.hero {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
  margin-bottom: 70px;

  &__overlay {
    width: auto;

    background-image: url(../images/world.svg);

    background-position: center;
    background-size: cover;

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      & {
        background-image: url(../images/world.svg);
      }
    }

    @media screen and (min-width: $widthTablet) {
      background-image: url(../images/world.svg);

      @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        & {
          background-image: url(../images/world.svg);
        }
      }
    }

    @media screen and (min-width: $widthDesktop) {
      background-size: cover;
      margin-left: auto;
      margin-right: auto;

      background-image: url(../images/world.svg);

      background-position: center;
      // background-size: 1600px 600px;

      @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        & {
          background-image: url(../images/world.svg);
        }
      }
    }
  }

  &__title {
    margin-top: 40px;
    background-color: $primaryColor;
    color: $accentColor;
    padding: 4px 20px;
    border-radius: 45px;
    font-weight: 900;
    font-size: 20px;
    line-height: 1.72;

    text-align: center;

    letter-spacing: 0.06em;
    text-transform: uppercase;

    margin-bottom: 40px;

    @media screen and (min-width: $widthTablet) {
      font-size: 32px;
      margin-bottom: 60px;
    }

    @media screen and (min-width: $widthDesktop) {
      font-size: 36px;
    }
  }

  &__list {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.72;
    text-align: start;
    margin-bottom: 80px;

    display: flex;
    flex-direction: column;

    @media screen and (min-width: $widthTablet) {
      visibility: hidden;
      display: none;
    }
  }

  &__list--tablet {
    visibility: hidden;
    display: none;
    @media screen and (min-width: $widthTablet) {
      visibility: visible;
      display: block;
      font-weight: 600;
      font-size: 18px;
      line-height: 1.72;
      text-align: start;
      margin-bottom: 80px;
      font-size: 24px;
      padding-left: 32px;
      padding-right: 0;
    }

    @media screen and (min-width: $widthDesktop) {
      font-size: 30px;
    }
  }

  &__item {
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: center;

    margin-bottom: 30px;

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
      transform: scale(1.1);
    }
  }

  .phrase {
    background-color: $secondAccentColor;
    color: $primaryColor;
    padding: 4px 12px;
    border-radius: 15px;
    @media screen and (min-width: $widthTablet) {
      padding: 4px 18px;
      border-radius: 25px;
    }
  }

  .rotate {
    transform: rotate(-1.5deg); /* змініть кут нахилу за потреби */
    display: inline-block;
    margin: 0;
    padding: 0 12px;
    background-color: $primaryColor;
    color: $secondAccentColor;
  }

  @keyframes changeColor {
    0% {
      color: red;
    }
    50% {
      color: blue;
    }
    100% {
      color: green;
    }
  }

  @keyframes fadeInOut {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  @keyframes spin {
    100% {
      transform: rotate(180deg);
    }
  }

  @keyframes moveLeft {
    0% {
      transform: rotate(0);
    }
    50% {
      transform: rotate(-5deg); /* Рух вліво */
    }
    100% {
      transform: rotate(0);
    }
  }

  @keyframes moveRight {
    0% {
      transform: rotate(0);
    }
    50% {
      transform: rotate(5deg); /* Рух вправо */
    }
    100% {
      transform: rotate(0);
    }
  }

  .phrase {
    animation: moveLeft 2s ease-in-out forwards; /* Рух вліво */
    // animation: fadeInOut 3s;
    // animation: spin 4s linear;
    // animation-iteration-count: 1;
    // animation: changeColor 3s infinite;
  }

  .move-right {
    transform: rotate(-1.5deg); /* змініть кут нахилу за потреби */
    display: inline-block;
    background-color: $primaryColor;
    color: $secondAccentColor;
    animation: moveRight 2s ease-in-out forwards; /* Рух вліво */
  }
}

// .phrase:hover {
//   animation-name: moveRight; /* При наведенні миші - рух вправо */
// }

// .animated-text {
//   animation: changeColor 3s infinite;
// }

// _______________________
//   &__thumb {
//   display: flex;
//   flex-direction: column;
//   justify-content: space-around;
//   align-items: center;
//   @media screen and (min-width: $widthTablet) {
//     flex-direction: row-reverse;
//   }
// }

// &__image {
//   display: block;
//   width: 100%;
//   max-width: 474px;
//   height: 260px;

//   border-radius: 10px;
//   object-fit: cover;

//   @media screen and (min-width: $widthTablet) {
//     width: 474px;
//     height: 360px;
//   }
// }

// &__image--thumb {
//   display: flex;
//   justify-content: center;
//   align-items: center;

//   height: 260px;
//   @media screen and (min-width: $widthTablet) {
//     height: 360px;
//   }
// }
