.project-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 30px;

  @media screen and (min-width: $widthTablet) {
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: space-around;
  }

  &__item {
    width: 100%;
    height: 100%;

    max-width: 474px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__image {
    border-radius: 10px;
    width: 100%;
    height: 270px;
    object-fit: cover;

    @media screen and (min-width: $widthTablet) {
      width: 474px;
    }
  }

  &__overlay {
    position: relative;
  }

  &__description {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;

    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    background: rgba(47, 48, 58, 0.5);
    color: white;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
}

.text {
  color: $accentColor;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  @media screen and (min-width: $widthDesktop) {
    font-weight: 900;
    font-size: 22px;
  }
}
