.modal {
  position: fixed;

  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: transparent;

  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all cubic-bezier(0.86, 0, 0.07, 1);
}

.open {
  opacity: 1;
  visibility: visible;
}

// .modal.open {
//   opacity: 1;
//   visibility: visible;
// }

.hidden {
  opacity: 0;
  visibility: hidden;
}

.modal-body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  // padding: 30px 10px;
}

.modal-content {
  position: relative;
  border-radius: 8px;
  padding: 40px 20px;

  background-color: $primaryColor;
  width: 100%;
  max-width: 280px;

  @media (min-width: $widthTablet) {
    display: flex;
    // flex-direction: row;
    // width: fit-content;
    max-width: 704px;
  }
  @media (min-width: $widthDesktop) {
    max-width: 806px;
  }
}

.modal-close {
  position: absolute;
  padding: 18px;
  right: 0;
  top: 0;
}

.modal-image {
  width: 100%;
  max-width: 240px;
  height: 357px;
  border-radius: 10px;
  margin-bottom: 16px;
  object-fit: cover;

  @media (min-width: $widthTablet) {
    min-width: 264px;
    height: 373px;

    margin-bottom: 0;
    margin-right: 18px;
  }
  @media (min-width: $widthDesktop) {
    min-width: 375px;
    height: 478px;
  }
}

.movie-title {
  font-size: 30px;
  font-weight: 700;
  line-height: auto;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.movie-table {
  margin-bottom: 20px;
  width: 100%;
  height: 120px;
}

.card {
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 8px;
  margin-top: 8px;
}

.list-category {
  color: #8c8c8c;
  width: 35%;
}

.list-data {
  vertical-align: middle;
}

.genres {
  display: flex;
  align-items: center;
}

.movie-about {
  line-height: 20px;
  margin-bottom: 20px;
}

.modal-nav {
  display: flex;
  justify-content: center;
  gap: 20px;
  @media (min-width: $widthTablet) {
    justify-content: flex-start;
  }
}

.about {
  font-size: 12px;
  font-weight: 500;
  line-height: auto;
  margin-bottom: 8px;
}

.average {
  background-color: $accentColor;
  padding: 4px 10px;
  color: $primaryColor;
  border-radius: 4px;
}

.count {
  background-color: $backgroundColor;
  padding: 4px 10px;
  border-radius: 4px;
}

// .modal {
//   // position: absolute;

//   top: 50%;
//   left: 50%;

//   width: 450px;
//   min-height: 609px;
//   border-radius: 4px;

//   background-color: var(--primary-bg-color);
//   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
//     0px 2px 1px rgba(0, 0, 0, 0.2);

//   transform: translate(-50%, -50%) scale(1);
//   transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
//     opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
//   opacity: 1;

//   &__backdrop--is-hidden {
//     transform: translate(-50%, -50%) scale(0.5);
//     opacity: 0;
//     pointer-events: none;
//   }

//   &__button--close {
//     position: absolute;
//     z-index: 1;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     width: 30px;
//     height: 30px;
//     border-radius: 50%;
//     background: #ffffff;
//     border: 1px solid rgba(0, 0, 0, 0.1);
//     margin-top: 8px;
//     margin-left: 412px;
//     cursor: pointer;
//   }

//   &__icon--close {
//     transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

//     .modal__button--close:hover &,
//     .modal__button--close:focus & {
//       fill: var(--button-bg-color);
//     }
//   }

//   &__form-frame {
//     // position: absolute;
//     // padding: 40px;
//     display: flex;
//     flex-direction: column;
//   }

//   &__title {
//     font-family: inherit;
//     font-weight: 700;
//     font-size: 20px;
//     line-height: 1.5;
//     text-align: center;
//     letter-spacing: 0.03em;
//     color: var(--title-txt-color);
//     margin-bottom: 12px;
//   }

//   @media screen and (min-width: $widthDesktop) {
//     width: 528px;
//     min-height: 581px;

//     &__button--close {
//       margin-left: 490px;
//     }

//     &__form-frame {
//       padding: 35px;
//     }

//     &__title {
//       line-height: 1.15;
//     }
//   }
// }
