@charset "UTF-8";
@import '~node_modules/modern-normalize/modern-normalize.css';
:root {
  --logo-black-txt: #000000;
  --logo-white-txt: #ffffff;
  --primary-txt-color: #757575;
  --title-txt-color: #212121;
  --accent-txt-color: #2196f3;
  --hero-txt-color: #ffffff;
  --team-bg-color: #f5f4fa;
  --team-card-bg-color: #fff;
  --portfolio-card-bg-color: #fff;
  --address-txt: #fff;
  --address-txt-contacts: rgba(255, 255, 255, 0.6);
  --accent-bg-color: #2f303a;
  --primary-bg-color: #ffffff;
  --button-bg-color: #2196f3;
  --button-bg-act-color: #188ce8;
  --button-txt-color: #ffffff;
  --button-filter-bg-color: #f5f4fa;
  --button-filter-txt-color: #000;
  --button-filter-bg-act-color: #2196f3;
  --icon-color: #afb1b8;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.03em;
  background-color: white;
}

body.lock {
  overflow: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: inherit;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

link {
  text-decoration: none;
  color: inherit;
}

.not-visible {
  position: fixed;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  margin-bottom: 40px;
}

.container {
  padding: 0 20px;
}
@media screen and (min-width: 768px) {
  .container {
    padding: 0 32px;
  }
}

.title {
  color: #ff6b01;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 20px;
}
@media screen and (min-width: 1280px) {
  .title {
    font-weight: 900;
    font-size: 24px;
  }
}

.sub-title {
  color: #ff6b01;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding: 8px 0;
}

.header {
  background-color: #2196f3;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  padding: 30px;
}
.nav-wrapper {
  display: flex;
}

.logo {
  display: flex;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 30px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo:hover {
  transform: scale(1.1);
}

.logo-name {
  pointer-events: none;
}

.navigation {
  margin-left: auto;
}
.nav-list {
  display: flex;
  justify-content: end;
  gap: 30px;
}
@media (max-width: 768px) {
  .nav-list {
    gap: 20px;
  }
}

.nav_item {
  display: inline-block;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav_item:hover {
  transform: scale(1.1);
}
@media (max-width: 768px) {
  .nav_item {
    display: none;
  }
}

.icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
.icon:hover, .icon:focus {
  cursor: pointer;
  stroke: #ff6b01;
  fill: #ff6b01;
}

.delete {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}

.icon_menu {
  width: 20px;
  height: 20px;
}
@media (min-width: 768px) {
  .icon_menu {
    display: none;
  }
}
.icon_menu:hover {
  cursor: pointer;
  fill: #ff6b01;
  stroke: #ff6b01;
}

.nav_list_button {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.nav_button {
  width: 130px;
}
@media (min-width: 768px) {
  .nav_button {
    width: 152px;
  }
}
@media (min-width: 1280px) {
  .nav_button {
    width: 152px;
  }
}

/* Стилі для основного посилання */
.menu {
  position: relative;
  cursor: pointer;
}

.menu__link {
  display: inline-block;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__link:hover {
  transform: scale(1.1);
}

.sub-menu__list {
  background-color: grey;
  position: absolute; /* Абсолютне позиціонування */
  top: 12px; /* Відступ від верху батьківського елемента */
  left: 0px; /* Зміщення зліва */
  opacity: 0.8;
  display: none;
  padding: 12px;
}

/* Стилі для рамки меню */
.menu:hover .sub-menu__list {
  display: block;
}

.sub-menu__list > li {
  color: #fff;
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  opacity: 0.8;
}

.hero {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
}
.hero__overlay {
  width: auto;
  height: 600px;
  background-image: url(../images/world.svg);
  background-position: center;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero__overlay {
    background-image: url(../images/world.svg);
  }
}
@media screen and (min-width: 768px) {
  .hero__overlay {
    background-image: url(../images/world.svg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero__overlay {
    background-image: url(../images/world.svg);
  }
}
@media screen and (min-width: 1280px) {
  .hero__overlay {
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../images/world.svg);
    background-position: center;
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .hero__overlay {
    background-image: url(../images/world.svg);
  }
}
.hero__title {
  margin-top: 40px;
  background-color: #fff;
  color: #ff6b01;
  padding: 4px 20px;
  border-radius: 25px;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .hero__title {
    margin-bottom: 60px;
    line-height: 1.36;
  }
}
@media screen and (min-width: 1280px) {
  .hero__title {
    font-size: 34px;
    line-height: 1.36;
  }
}
.hero__list {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
  text-align: start;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  max-width: 600px;
}
@media screen and (min-width: 768px) {
  .hero__list {
    padding-left: 32px;
    padding-right: 0;
  }
}
@media screen and (min-width: 1280px) {
  .hero__list {
    font-size: 24px;
    line-height: 1.36;
  }
}
.hero__item {
  margin-bottom: 20px;
}
.hero__item:last-child {
  margin-bottom: 0;
}
.hero__wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__wrapper:hover {
  transform: scale(1.1);
}
.hero .phrase {
  background-color: #2196f3;
  color: #fff;
  padding: 4px 10px;
  border-radius: 15px;
}

.benefit-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .benefit-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
.benefit-list__item {
  width: 100%;
  height: 300px;
  max-width: 334px;
  border-radius: 10px;
  padding: 20px;
  background-color: rgba(179, 176, 176, 0.149);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
@media screen and (min-width: 768px) {
  .benefit-list__item {
    height: 300px;
    max-width: 334px;
  }
}
@media screen and (min-width: 1280px) {
  .benefit-list__item {
    height: 260px;
    max-width: 474px;
  }
}
.benefit-list__canvas {
  display: flex;
  padding: 10px 0;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.benefit-list__icon {
  display: block;
  width: 70px;
  height: 70px;
}
.benefit-list__title {
  display: inline-block;
  color: rgb(71, 68, 68);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
  text-align: center;
}
.benefit-list__description {
  display: inline-block;
  margin-top: 0;
  color: rgb(71, 68, 68);
  font-size: 14px;
  line-height: 1.71;
  text-align: justify;
}

.project-list {
  display: grid;
  grid-gap: 16px;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .project-list {
    grid-template-columns: repeat(auto-fit, minmax(335px, 1fr));
    grid-gap: 16px;
  }
}
.project-list__item {
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 768px) {
  .project-list__item {
    display: flex;
    justify-content: center;
  }
}
.project-list__image {
  border-radius: 10px;
  width: 100%;
  height: 240px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 768px) {
  .project-list__image {
    max-width: 374px;
  }
}
.project-list__overlay {
  position: relative;
}
.project-list__description {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background: rgba(47, 48, 58, 0.5);
  color: white;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.portfolio-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .portfolio-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.portfolio-card {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 474px;
  height: 334px;
}
.portfolio-card__link {
  border-radius: 10px;
  text-decoration: none;
  display: inline-block;
  box-shadow: transparent;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-card__link:hover, .portfolio-card__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-card__thumb {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.portfolio-card__image {
  width: 100%;
  max-width: 474px;
  height: 260px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 768px) {
  .portfolio-card__image {
    width: 474px;
  }
}
@media screen and (min-width: 1280px) {
  .portfolio-card__image {
    width: 494px;
  }
}
.portfolio-card__overlay {
  height: 260px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: white;
  padding: 19px;
  background-color: gray;
  opacity: 0.9;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-card__link:hover .portfolio-card__overlay, .portfolio-card__link:focus .portfolio-card__overlay {
  transform: translateY(0);
}
.portfolio-card__info {
  border: 1px solid #eeeeee;
  border-top: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 20px 24px;
}
.portfolio-card__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: rgb(71, 68, 68);
  margin-bottom: 4px;
  text-transform: uppercase;
}
.portfolio-card__describtion {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: rgb(71, 68, 68);
}

.team {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.team__card {
  width: 100%;
  background-color: var(--team-card-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 30px;
}
.team__card:last-child {
  margin-bottom: 0;
}
.team__info {
  padding: 30px 24px;
}
.team__title {
  color: var(--title-txt-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.team__description {
  color: var(--primary-txt-color);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-top: 10px;
}
@media screen and (min-width: 768px) {
  .team {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .team__card {
    width: 354px;
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .team__card:nth-child(2n) {
    margin-right: 0;
  }
  .team__card:nth-last-child(-n+2) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1280px) {
  .team__card {
    width: 270px;
    margin-bottom: 0;
  }
  .team__card:not(:last-child) {
    margin-right: 30px;
  }
}
.team__info {
  padding: 30px 32px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all cubic-bezier(0.86, 0, 0.07, 1);
}

.open {
  opacity: 1;
  visibility: visible;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.modal-body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  position: relative;
  border-radius: 8px;
  padding: 40px 20px;
  background-color: #fff;
  width: 100%;
  max-width: 280px;
}
@media (min-width: 768px) {
  .modal-content {
    display: flex;
    max-width: 704px;
  }
}
@media (min-width: 1280px) {
  .modal-content {
    max-width: 806px;
  }
}

.modal-close {
  position: absolute;
  padding: 18px;
  right: 0;
  top: 0;
}

.modal-image {
  width: 100%;
  max-width: 240px;
  height: 357px;
  border-radius: 10px;
  margin-bottom: 16px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 768px) {
  .modal-image {
    min-width: 264px;
    height: 373px;
    margin-bottom: 0;
    margin-right: 18px;
  }
}
@media (min-width: 1280px) {
  .modal-image {
    min-width: 375px;
    height: 478px;
  }
}

.movie-title {
  font-size: 30px;
  font-weight: 700;
  line-height: auto;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.movie-table {
  margin-bottom: 20px;
  width: 100%;
  height: 120px;
}

.card {
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 8px;
  margin-top: 8px;
}

.list-category {
  color: #8c8c8c;
  width: 35%;
}

.list-data {
  vertical-align: middle;
}

.genres {
  display: flex;
  align-items: center;
}

.movie-about {
  line-height: 20px;
  margin-bottom: 20px;
}

.modal-nav {
  display: flex;
  justify-content: center;
  gap: 20px;
}
@media (min-width: 768px) {
  .modal-nav {
    justify-content: flex-start;
  }
}

.about {
  font-size: 12px;
  font-weight: 500;
  line-height: auto;
  margin-bottom: 8px;
}

.average {
  background-color: #ff6b01;
  padding: 4px 10px;
  color: #fff;
  border-radius: 4px;
}

.count {
  background-color: #f7f7f7;
  padding: 4px 10px;
  border-radius: 4px;
}

.form-frame {
  width: 100%;
  font-size: 14px;
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .form-body {
    width: 680px;
  }
}
@media screen and (min-width: 1280px) {
  .form-body {
    width: 980px;
  }
}

.wrapper {
  border: 1px solid rgba(33, 33, 33, 0.2);
  background-color: rgba(179, 176, 176, 0.149);
  border-radius: 10px;
  padding: 20px;
  gap: 12px;
  margin-bottom: 12px;
}
@media screen and (min-width: 1280px) {
  .wrapper {
    display: flex;
  }
}

.form {
  display: flex;
  flex-direction: column;
}
.form__field {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-bottom: 10px;
}
.form__label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: black;
}
.form__label:active .form__label__input {
  outline: none;
}
.form__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 11px 12px 11px 30px;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__input:hover, .form__input:focus {
  cursor: pointer;
  border: 1px solid #ff6b01;
  outline: none;
}
.form__field:hover .form__input, .form__field:focus .form__input {
  cursor: pointer;
  border: 1px solid #ff6b01;
}
.form__input-icon {
  position: absolute;
  z-index: 1;
  top: 15px;
  left: 8px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__input:hover + .form__input-icon, .form__input:focus + .form__input-icon {
  fill: #ff6b01;
}
.form__field:hover .form__input-icon, .form__field:focus .form__input-icon {
  cursor: pointer;
  fill: #ff6b01;
}
.form__comment-area {
  resize: vertical;
  width: 100%;
  min-height: 120px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-family: inherit;
  line-height: 1.16;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 10px;
  padding: 12px 16px;
  margin-bottom: 20px;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__comment-area::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.form__comment-area:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.form__comment-area::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.form__comment-area:hover, .form__comment-area:focus {
  cursor: pointer;
  border: 1px solid #ff6b01;
}

.checkbox {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
.checkbox__input {
  position: absolute;
  opacity: 0;
}
.checkbox__input:checked ~ .checkbox__icon-check {
  opacity: 1;
}
.checkbox__label {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  line-height: 1.16;
  cursor: pointer;
}
.checkbox__icon-check {
  position: absolute;
  display: block;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  opacity: 0;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox__icon {
  display: block;
  fill: #ff6b01;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox__icon:hover, .checkbox__icon:focus {
  cursor: pointer;
  fill: #ff6b01;
}
.checkbox__link {
  display: inline-block;
  color: #ff6b01;
  text-decoration: underline;
}
@media screen and (min-width: 1280px) {
  .checkbox__label {
    font-size: 14px;
    line-height: 1.71;
  }
}

.form_checkbox,
.status,
.category {
  display: flex;
  height: 40px;
  padding: 16px 8px;
  margin-bottom: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: #ffffff;
}

.modal {
  top: 50%;
  left: 50%;
  width: 450px;
  min-height: 609px;
  border-radius: 4px;
  background-color: var(--primary-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1;
}
.modal__backdrop--is-hidden {
  transform: translate(-50%, -50%) scale(0.5);
  opacity: 0;
  pointer-events: none;
}
.modal__button--close {
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 8px;
  margin-left: 412px;
  cursor: pointer;
}
.modal__icon--close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__button--close:hover .modal__icon--close, .modal__button--close:focus .modal__icon--close {
  fill: var(--button-bg-color);
}
.modal__form-frame {
  display: flex;
  flex-direction: column;
}
.modal__title {
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ff6b01;
  margin-bottom: 12px;
}
@media screen and (min-width: 1280px) {
  .modal {
    width: 528px;
    min-height: 581px;
  }
  .modal__button--close {
    margin-left: 490px;
  }
  .modal__title {
    line-height: 1.15;
  }
}

.menu-container {
  background-color: #2196f3;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-container.open {
  transform: translateX(0);
}

.menu-toggle {
  position: absolute;
  top: 10px;
  right: 15px;
  z-index: 1;
  min-height: 20px;
  min-width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  padding: 0;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}
.menu-toggle:hover, .menu-toggle:focus {
  color: #ff6b01;
}

@media (min-width: 767px) {
  .menu-toggle {
    display: none;
  }
}
.menu-frame {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mobile-menu {
  padding: 30px 30px 0 30px;
}

.mobile-menu__item {
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 18px;
}
.mobile-menu__item:hover, .mobile-menu__item:focus {
  color: #ff6b01;
}

.menu-bottom {
  padding: 0 30px 30px 30px;
}

.mobile-contacts {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.mobile-contacts__item {
  margin-bottom: 14px;
  color: white;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}
.mobile-contacts__item:last-child {
  margin-bottom: 0;
}
.mobile-contacts__item:hover, .mobile-contacts__item:focus {
  color: #ff6b01;
}

.mobile-social-net {
  display: flex;
  flex-wrap: wrap;
}
.mobile-social-net__item {
  position: relative;
  margin-right: 16px;
}
.mobile-social-net__item:last-child {
  margin-right: 0;
}
.mobile-social-net__item:last-child ::after {
  display: none;
}
.mobile-social-net__link {
  position: relative;
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: white;
}
.mobile-social-net__link:hover, .mobile-social-net__link:focus {
  color: #ff6b01;
}
.mobile-social-net__link::after {
  content: "";
  position: absolute;
  top: 0;
  left: calc(100% + 8px);
  display: block;
  height: 100%;
  width: 1px;
  background-color: white;
}

.burger__icon {
  height: 400px;
}

.button {
  border: 1px solid white;
  color: white;
  border-radius: 8px;
  background-color: transparent;
  cursor: pointer;
  min-width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.btn-hero {
  font-size: 14px;
  font-weight: 700;
  border: 1px solid #ff6b01;
  color: white;
  background-color: #ff6b01;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  width: 180px;
  height: 44px;
}
.btn-hero:last-child {
  margin-right: 0;
}
.btn-hero:hover, .btn-hero:focus, .btn-hero:active {
  border: 1px solid #ff6b01;
  background-color: #ff6b01;
  color: #fff;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  transform: scale(1.07);
}

.btn-modal {
  border: 1px solid black;
  color: black;
  width: 100%;
  max-width: 140px;
  height: 44px;
}
.btn-modal:last-child {
  margin-right: 0;
}
.btn-modal:hover, .btn-modal:focus, .btn-modal:active {
  border: 1px solid #ff6b01;
  background-color: #ff6b01;
  color: #fff;
}

.white {
  border-color: white;
  color: white;
  gap: 8px;
  padding: 8px;
}

.btn-modal-auth {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  border: 1px solid black;
  color: black;
  margin-bottom: 24px;
  width: 130px;
  height: 44px;
}
.btn-modal-auth:last-child {
  margin-right: 0;
}
.btn-modal-auth:hover, .btn-modal-auth:focus, .btn-modal-auth:active {
  border: 1px solid #ff6b01;
  background-color: #ff6b01;
  color: #fff;
}
@media (min-width: 768px) {
  .btn-modal-auth {
    width: 152px;
  }
}
@media (min-width: 1280px) {
  .btn-modal-auth {
    width: 152px;
  }
}

.btn_header {
  width: 100%;
  height: 44px;
}
.btn_header:hover, .btn_header:focus, .btn_header:active {
  border: 1px solid #ff6b01;
  background-color: #ff6b01;
  color: #fff;
}

.active_btn {
  border: 1px solid #ff6b01;
  background-color: #ff6b01;
  color: #fff;
}

.search-button {
  border: transparent;
  border-bottom: 1px solid #fff;
  background-color: transparent;
  cursor: pointer;
  width: 30px;
  height: 30px;
}

.delete-button {
  border: transparent;
  background-color: #ff6b01;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  top: 93%;
  left: 90%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.wrapper-btn {
  display: flex;
  justify-content: center;
}

.footer {
  background-color: grey;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  height: 77px;
}

.footer {
  background-color: grey;
  padding-top: 60px;
  padding-bottom: 60px;
  color: white;
}
.footer__container {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .footer__container {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1280px) {
  .footer__container {
    align-items: baseline;
    justify-content: space-between;
  }
}
.footer__info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .footer__info {
    width: 231px;
  }
}
@media screen and (min-width: 1280px) {
  .footer__info {
    display: inline;
    margin-bottom: 0;
    margin-left: 0;
  }
}
.footer__address {
  display: inline-block;
  font-style: inherit;
  margin-top: 20px;
}
.footer__contacts {
  display: flex;
  flex-direction: column;
}
.footer__link {
  display: inline-block;
  color: var(--address-txt-contacts);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-top: 9px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__link:hover, .footer__link:focus {
  color: #ff6b01;
}
.footer__social-net {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  width: 100%;
}
@media screen and (min-width: 440px) {
  .footer__social-net {
    width: 206px;
  }
}
@media screen and (min-width: 768px) {
  .footer__social-net {
    width: 206px;
  }
}
@media screen and (min-width: 1280px) {
  .footer__social-net {
    display: inline;
    width: 206px;
    margin-left: 70px;
  }
}
.footer__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: white;
  margin-bottom: 20px;
}
.footer__social-net-list {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}
.footer__social-net-link {
  display: flex;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__social-net-link:hover, .footer__social-net-link:focus {
  background-color: #ff6b01;
}
.footer__social-icon {
  display: block;
  height: 20px;
  width: 20px;
  fill: white;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__social-net-link > .footer__social-icon {
  fill: white;
}
.footer__mailing {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .footer__mailing {
    width: 450px;
  }
}
@media screen and (min-width: 1280px) {
  .footer__mailing {
    display: inline;
    width: 570px;
    margin-left: 93px;
  }
}
.footer__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  gap: 12px;
}
.footer__form::-moz-placeholder {
  color: white;
  line-height: 1.25;
}
.footer__form:-ms-input-placeholder {
  color: white;
  line-height: 1.25;
}
.footer__form::placeholder {
  color: white;
  line-height: 1.25;
}
@media screen and (min-width: 1280px) {
  .footer__form {
    display: flex;
    flex-direction: row;
  }
}
.footer__input {
  width: 100%;
  height: 45px;
  max-width: 320px;
  border: 1px solid white;
  font-size: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 15px 16px;
  background-color: transparent;
  color: white;
  outline: none;
  margin-bottom: 20px;
}
@media screen and (min-width: 1280px) {
  .footer__input {
    width: 358px;
    margin-bottom: 0;
  }
}
.footer__input:hover, .footer__input:focus {
  cursor: pointer;
  border: 1px solid #ff6b01;
}
.footer__input::-moz-placeholder {
  color: white;
  opacity: 0.7;
}
.footer__input:-ms-input-placeholder {
  color: white;
  opacity: 0.7;
}
.footer__input::placeholder {
  color: white;
  opacity: 0.7;
}

.gallery {
  width: 100%;
  display: grid;
  grid-gap: 16px;
}
@media screen and (min-width: 768px) {
  .gallery {
    grid-template-columns: repeat(auto-fit, minmax(335px, 1fr));
    grid-gap: 32px 16px;
  }
}
@media screen and (min-width: 1280px) {
  .gallery {
    grid-template-columns: repeat(auto-fit, minmax(394px, 1fr));
  }
}

.gallery-card {
  display: flex;
  justify-content: center;
}

.gallery_link {
  transition: transform 400ms easy-out;
  max-width: 280px;
}
.gallery_link:hover {
  transform: scale(1.03);
}
@media screen and (min-width: 768px) {
  .gallery_link {
    max-width: 335px;
  }
}
@media screen and (min-width: 1280px) {
  .gallery_link {
    max-width: 394px;
  }
}

.movie_img {
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  width: 100%;
  height: 398px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 768px) {
  .movie_img {
    width: 336px;
    height: 455px;
  }
}
@media screen and (min-width: 1280px) {
  .movie_img {
    width: 394px;
    height: 574px;
  }
}

.wrapper {
  position: relative;
}

.movie_title.card {
  font-size: 16px;
  line-height: 20px;
  max-width: 280px;
}
@media screen and (min-width: 768px) {
  .movie_title.card {
    font-size: 20px;
    line-height: 24px;
  }
}

.movie_describtion {
  display: flex;
  font-size: 16px;
  line-height: 20px;
  color: #ff6b01;
  align-items: baseline;
}
@media screen and (min-width: 768px) {
  .movie_describtion {
    font-size: 20px;
    line-height: 24px;
  }
}

.movie_genresList {
  position: relative;
  display: flex;
  margin-right: 16px;
}
.movie_genresList::after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: calc(100% + 8px);
  height: 100%;
  width: 2px;
  background-color: #ff6b01;
}

.movie_average {
  font-size: 18px;
  margin-left: 8px;
  background-color: #ff6b01;
  padding: 2px 8px;
  color: #fff;
  border-radius: 4px;
}

.load-more {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.06em;
  text-align: center;
  cursor: pointer;
  font-family: inherit;
  border-radius: 4px;
  padding: 0;
  border: none;
  border-color: transparent;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;
  width: 160px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.load-more:hover, .load-more:focus {
  background-color: #ff6b01;
  color: #fff;
}
.load-more:active {
  background-color: #ff6b01;
  color: #fff;
}

.form {
  width: 100%;
  display: flex;
  justify-content: center;
}

#search-input {
  height: 30px;
  width: 394px;
  background-color: transparent;
  border: transparent;
  border-bottom: solid 1px #fff;
  color: #fff;
  font-size: 18px;
}
#search-input:focus {
  background-color: transparent;
  outline: 0;
  color: #fff;
}
#search-input::-moz-placeholder {
  opacity: 1;
}
#search-input:-ms-input-placeholder {
  opacity: 1;
}
#search-input::placeholder {
  opacity: 1;
}

.form-auth {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  align-items: center;
  max-width: 100%;
}
@media (min-width: 440px) {
  .form-auth {
    width: 240px;
  }
}
@media (min-width: 768px) {
  .form-auth {
    width: 320px;
  }
}

.form-auth input {
  height: 42px;
  margin-bottom: 24px;
  border-radius: 4px;
  border: solid 1px grey;
  opacity: 0.7;
  width: 100%;
}
.form-auth input:hover, .form-auth input:active, .form-auth input:focus {
  border: solid 2px #ff6b01;
  outline: none;
}
@media (min-width: 440px) {
  .form-auth input {
    width: 240px;
  }
}
@media (min-width: 768px) {
  .form-auth input {
    width: 320px;
  }
}

#register-link:hover,
#login_link:hover {
  color: #ff6b01;
}

.register_nav {
  display: flex;
  align-items: baseline;
  gap: 16px;
}/*# sourceMappingURL=index.css.map */