@charset "UTF-8";
@import '~node_modules/modern-normalize/modern-normalize.css';
:root {
  --logo-black-txt: #000000;
  --logo-white-txt: #ffffff;
  --primary-txt-color: #757575;
  --title-txt-color: #212121;
  --accent-txt-color: #2196f3;
  --hero-txt-color: #ffffff;
  --team-bg-color: #f5f4fa;
  --team-card-bg-color: #fff;
  --portfolio-card-bg-color: #fff;
  --address-txt: #fff;
  --address-txt-contacts: rgba(255, 255, 255, 0.6);
  --accent-bg-color: #2f303a;
  --primary-bg-color: #ffffff;
  --button-bg-color: #2196f3;
  --button-bg-act-color: #188ce8;
  --button-txt-color: #ffffff;
  --button-filter-bg-color: #f5f4fa;
  --button-filter-txt-color: #000;
  --button-filter-bg-act-color: #2196f3;
  --icon-color: #afb1b8;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.03em;
  background-color: white;
}

body.lock {
  overflow: hidden;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

link {
  text-decoration: none;
  color: inherit;
}

.not-visible {
  position: fixed;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  margin-bottom: 70px;
}

.container {
  padding: 0 20px;
}
@media screen and (min-width: 768px) {
  .container {
    padding: 0 32px;
  }
}

.title {
  color: #ff6b01;
  font-weight: 600;
  font-size: 24px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
@media screen and (min-width: 1280px) {
  .title {
    font-weight: 900;
    font-size: 32px;
  }
}

.sub-title {
  color: #ff6b01;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding: 8px 0;
}

.icon {
  display: inline-block;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
.icon:hover, .icon:focus {
  cursor: pointer;
  stroke: #ff6b01;
  fill: #ff6b01;
}

.header {
  background-color: #2196f3;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  padding: 30px;
}
.nav-wrapper {
  display: flex;
}

.logo {
  display: flex;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 30px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo:hover {
  transform: scale(1.1);
}

.logo-name {
  pointer-events: none;
}

.navigation {
  margin-left: auto;
}
.nav-list {
  display: flex;
  justify-content: end;
  gap: 30px;
}
@media (max-width: 768px) {
  .nav-list {
    gap: 20px;
  }
}

.nav_item {
  display: inline-block;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav_item:hover {
  transform: scale(1.1);
}
@media (max-width: 768px) {
  .nav_item {
    display: none;
  }
}

.delete {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}

.icon-menu {
  width: 20px;
  height: 20px;
  fill: #fff;
  cursor: pointer;
}
@media (min-width: 769px) {
  .icon-menu {
    display: none;
  }
}
@media (max-width: 768px) {
  .icon-menu {
    display: block;
  }
}

.nav_list_button {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.nav_button {
  width: 130px;
}
@media (min-width: 768px) {
  .nav_button {
    width: 152px;
  }
}
@media (min-width: 1280px) {
  .nav_button {
    width: 152px;
  }
}

.menu-lang {
  position: relative;
  cursor: pointer;
}

.menu-lang a {
  display: inline-block;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-lang a:hover {
  transform: scale(1.1);
}

.sub-menu__list {
  background-color: #ff6b01;
  position: absolute; /* Абсолютне позиціонування */
  top: 28px; /* Відступ від верху батьківського елемента */
  left: -11px; /* Зміщення зліва */
  opacity: 0.9;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: none;
  padding: 12px 8px;
  border-radius: 12px;
}

.sub-menu__list > li {
  color: #fff;
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 8px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.sub-menu__list > li:hover {
  transform: scale(1.1);
}
.sub-menu__list > li:last-child {
  margin-bottom: 0;
}

.active {
  display: block;
}

.hero {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
  margin-bottom: 70px;
}
.hero__overlay {
  width: auto;
  background-image: url(../images/world.svg);
  background-position: center;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero__overlay {
    background-image: url(../images/world.svg);
  }
}
@media screen and (min-width: 768px) {
  .hero__overlay {
    background-image: url(../images/world.svg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero__overlay {
    background-image: url(../images/world.svg);
  }
}
@media screen and (min-width: 1280px) {
  .hero__overlay {
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../images/world.svg);
    background-position: center;
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .hero__overlay {
    background-image: url(../images/world.svg);
  }
}
.hero__title {
  margin-top: 40px;
  background-color: #fff;
  color: #ff6b01;
  padding: 4px 20px;
  border-radius: 45px;
  font-weight: 900;
  font-size: 20px;
  line-height: 1.72;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 32px;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1280px) {
  .hero__title {
    font-size: 36px;
  }
}
.hero__list {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.72;
  text-align: start;
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .hero__list {
    visibility: hidden;
    display: none;
  }
}
.hero__list--tablet {
  visibility: hidden;
  display: none;
}
@media screen and (min-width: 768px) {
  .hero__list--tablet {
    visibility: visible;
    display: block;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.72;
    text-align: start;
    margin-bottom: 80px;
    font-size: 24px;
    padding-left: 32px;
    padding-right: 0;
  }
}
@media screen and (min-width: 1280px) {
  .hero__list--tablet {
    font-size: 30px;
  }
}
.hero__item {
  margin-bottom: 20px;
}
.hero__item:last-child {
  margin-bottom: 0;
}
.hero__wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__wrapper:hover {
  transform: scale(1.1);
}
.hero .phrase {
  background-color: #2196f3;
  color: #fff;
  padding: 4px 12px;
  border-radius: 15px;
}
@media screen and (min-width: 768px) {
  .hero .phrase {
    padding: 4px 18px;
    border-radius: 25px;
  }
}
.hero .rotate {
  transform: rotate(-1.5deg); /* змініть кут нахилу за потреби */
  display: inline-block;
  margin: 0;
  padding: 0 12px;
  background-color: #fff;
  color: #2196f3;
}
@-webkit-keyframes changeColor {
  0% {
    color: red;
  }
  50% {
    color: blue;
  }
  100% {
    color: green;
  }
}
@keyframes changeColor {
  0% {
    color: red;
  }
  50% {
    color: blue;
  }
  100% {
    color: green;
  }
}
@-webkit-keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes spin {
  100% {
    transform: rotate(180deg);
  }
}
@keyframes spin {
  100% {
    transform: rotate(180deg);
  }
}
@-webkit-keyframes moveLeft {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(-5deg); /* Рух вліво */
  }
  100% {
    transform: rotate(0);
  }
}
@keyframes moveLeft {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(-5deg); /* Рух вліво */
  }
  100% {
    transform: rotate(0);
  }
}
@-webkit-keyframes moveRight {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(5deg); /* Рух вправо */
  }
  100% {
    transform: rotate(0);
  }
}
@keyframes moveRight {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(5deg); /* Рух вправо */
  }
  100% {
    transform: rotate(0);
  }
}
.hero .phrase {
  -webkit-animation: moveLeft 2s ease-in-out forwards;
          animation: moveLeft 2s ease-in-out forwards; /* Рух вліво */
}
.hero .move-right {
  transform: rotate(-1.5deg); /* змініть кут нахилу за потреби */
  display: inline-block;
  background-color: #fff;
  color: #2196f3;
  -webkit-animation: moveRight 2s ease-in-out forwards;
          animation: moveRight 2s ease-in-out forwards; /* Рух вліво */
}

.benefit-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .benefit-list {
    justify-content: unset;
    align-items: unset;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
.benefit-list__item {
  width: 100%;
  max-width: 474px;
  border-radius: 10px;
  padding: 20px;
  background-color: rgba(179, 176, 176, 0.1);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
@media screen and (min-width: 768px) {
  .benefit-list__item {
    width: 474px;
  }
}
.benefit-list__canvas {
  display: flex;
  padding: 10px 0;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.benefit-list__icon {
  display: block;
  width: 70px;
  height: 70px;
}
.benefit-list__title {
  display: inline-block;
  color: rgb(71, 68, 68);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
  text-align: center;
}
.benefit-list__description {
  display: inline-block;
  margin-top: 0;
  color: rgb(71, 68, 68);
  font-size: 14px;
  line-height: 1.71;
  text-align: justify;
}

.project-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .project-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
.project-list__item {
  width: 100%;
  height: 100%;
  max-width: 474px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.project-list__image {
  border-radius: 10px;
  width: 100%;
  height: 270px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 768px) {
  .project-list__image {
    width: 474px;
  }
}
.project-list__overlay {
  position: relative;
}
.project-list__description {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background: rgba(47, 48, 58, 0.5);
  color: white;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.portfolio-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .portfolio-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.portfolio-card {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 474px;
}
.portfolio-card__link {
  border-radius: 10px;
  text-decoration: none;
  display: inline-block;
  box-shadow: transparent;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-card__link:hover, .portfolio-card__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-card__thumb {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.portfolio-card__image {
  width: 100%;
  max-width: 474px;
  height: 270px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 768px) {
  .portfolio-card__image {
    width: 474px;
  }
}
@media screen and (min-width: 1280px) {
  .portfolio-card__image {
    width: 494px;
  }
}
.portfolio-card__overlay {
  overflow-y: auto;
  height: 270px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #fff;
  padding: 19px;
  background-color: #2196f3;
  opacity: 0.85;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-card .active__link {
  transform: translateY(0);
}
.portfolio-card__info {
  border: 1px solid #eeeeee;
  border-top: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 20px 24px;
}
.portfolio-card__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: rgb(71, 68, 68);
  margin-bottom: 4px;
  text-transform: uppercase;
}

.form-frame {
  width: 100%;
  font-size: 14px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .form-body {
    width: 680px;
  }
}
@media screen and (min-width: 1280px) {
  .form-body {
    width: 980px;
  }
}

.wrapper {
  border: 1px solid rgba(33, 33, 33, 0.2);
  background-color: rgba(179, 176, 176, 0.149);
  border-radius: 10px;
  padding: 20px;
  gap: 12px;
  margin-bottom: 12px;
}
@media screen and (min-width: 1280px) {
  .wrapper {
    display: flex;
  }
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.form__field {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-bottom: 10px;
}
.form__label {
  color: black;
}
.form__label:active .form__label__input {
  outline: none;
}
.form__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 11px 12px 11px 30px;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__input:hover, .form__input:focus {
  cursor: pointer;
  border: 1px solid #ff6b01;
  outline: none;
}
.form__field:hover .form__input, .form__field:focus .form__input {
  cursor: pointer;
  border: 1px solid #ff6b01;
}
.form__input-icon {
  position: absolute;
  z-index: 1;
  top: 15px;
  left: 8px;
  fill: rgba(104, 105, 111, 0.771);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__input:hover + .form__input-icon, .form__input:focus + .form__input-icon {
  fill: #ff6b01;
}
.form__field:hover .form__input-icon, .form__field:focus .form__input-icon {
  cursor: pointer;
  fill: #ff6b01;
}
.form__comment-area {
  resize: vertical;
  width: 100%;
  min-height: 120px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-family: inherit;
  line-height: 1.16;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 10px;
  padding: 12px 16px;
  margin-bottom: 20px;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__comment-area::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.form__comment-area:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.form__comment-area::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.form__comment-area:hover, .form__comment-area:focus {
  cursor: pointer;
  border: 1px solid #ff6b01;
}

.checkbox {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
.checkbox__input {
  position: absolute;
  opacity: 0;
}
.checkbox__input:checked ~ .checkbox__icon-check {
  opacity: 1;
}
.checkbox__label {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  cursor: pointer;
}
@media screen and (min-width: 1280px) {
  .checkbox__label {
    line-height: 1.71;
  }
}
.checkbox__link {
  display: inline-block;
  width: 30%;
  text-align: start;
}
.checkbox__icon-check {
  position: absolute;
  display: block;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  opacity: 0;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox__icon {
  display: block;
  fill: #ff6b01;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox__icon:hover, .checkbox__icon:focus {
  cursor: pointer;
  fill: #ff6b01;
}
.checkbox__link {
  display: inline-block;
  color: #ff6b01;
  text-decoration: underline;
}

.address {
  padding: 12px;
}

.agreement {
  width: 70%;
}

.form_checkbox,
.status,
.category {
  display: flex;
  height: 40px;
  padding: 16px 8px;
  margin-bottom: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: #ffffff;
}

.modal {
  top: 50%;
  left: 50%;
  width: 450px;
  min-height: 609px;
  border-radius: 4px;
  background-color: var(--primary-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1;
}
.modal__backdrop--is-hidden {
  transform: translate(-50%, -50%) scale(0.5);
  opacity: 0;
  pointer-events: none;
}
.modal__button--close {
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 8px;
  margin-left: 412px;
  cursor: pointer;
}
.modal__icon--close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__button--close:hover .modal__icon--close, .modal__button--close:focus .modal__icon--close {
  fill: var(--button-bg-color);
}
.modal__form-frame {
  display: flex;
  flex-direction: column;
}
.modal__title {
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ff6b01;
  margin-bottom: 12px;
}
@media screen and (min-width: 1280px) {
  .modal {
    width: 528px;
    min-height: 581px;
  }
  .modal__button--close {
    margin-left: 490px;
  }
  .modal__title {
    line-height: 1.15;
  }
}

.menu__container {
  background-color: #2196f3;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__container.open {
  transform: translateX(0);
}

.menu-toggle {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1;
  min-height: 20px;
  min-width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  padding: 0;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}
.menu-toggle:hover, .menu-toggle:focus {
  color: #ff6b01;
}

.menu__overlay {
  width: auto;
  height: 360px;
  margin-bottom: 20px;
  background-image: url(../images/world_w.svg);
  background-position: center;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .menu__overlay {
    background-image: url(../images/world_w.svg);
  }
}
@media screen and (min-width: 768px) {
  .menu__overlay {
    background-image: url(../images/world_w.svg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .menu__overlay {
    background-image: url(../images/world_w.svg);
  }
}
@media screen and (min-width: 1280px) {
  .menu__overlay {
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../images/world_w.svg);
    background-position: center;
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .menu__overlay {
    background-image: url(../images/world_w.svg);
  }
}

.menu__frame {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.menu {
  padding: 30px 30px 0 30px;
  margin-bottom: 20px;
}
.menu__bottom {
  padding: 0 30px 30px 30px;
}
.menu > li {
  margin-bottom: 14px;
}
.menu__link {
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__link:hover, .menu__link:focus {
  transform: scale(1.1);
}
.menu__contacts {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.menu__contacts > li {
  margin-bottom: 12px;
}
.menu__contacts > li:last-child {
  margin-bottom: 0;
}
.menu__contacts--link {
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}
.menu__contacts--link:hover, .menu__contacts--link:focus {
  color: #ff6b01;
}
.menu__social-net {
  display: flex;
  flex-wrap: wrap;
}
.menu__social-net > li {
  margin-right: 16px;
}
.menu__social-net > li:last-child {
  margin-right: 0;
}
.menu__social-net > li:last-child ::after {
  display: none;
}
.menu__social-net--link {
  position: relative;
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: white;
}
.menu__social-net--link:hover, .menu__social-net--link:focus {
  color: #ff6b01;
}
.menu__social-net--link::after {
  content: "";
  position: absolute;
  top: 0;
  left: calc(100% + 8px);
  display: block;
  height: 100%;
  width: 1px;
  background-color: #fff;
}

.button {
  border: 1px solid #fff;
  color: #fff;
  border-radius: 30px;
  background-color: transparent;
  cursor: pointer;
  min-width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.btn-hero {
  font-size: 14px;
  font-weight: 700;
  padding: 8px 15px;
  border: 1px solid #ff6b01;
  color: #fff;
  background-color: #ff6b01;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 200px;
  height: 44px;
}
.btn-hero:last-child {
  margin-right: 0;
}
.btn-hero:hover, .btn-hero:focus, .btn-hero:active {
  border: 1px solid #ff6b01;
  background-color: #ff6b01;
  color: #fff;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  transform: scale(1.07);
}

.btn-modal {
  border: 1px solid black;
  color: black;
  width: 100%;
  max-width: 180px;
  height: 44px;
}
.btn-modal:last-child {
  margin-right: 0;
}
.btn-modal:hover, .btn-modal:focus, .btn-modal:active {
  border: 1px solid #ff6b01;
  background-color: #ff6b01;
  color: #fff;
}

.white {
  border-color: #fff;
  color: #fff;
  gap: 8px;
  padding: 8px;
}

.btn-modal-auth {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  border: 1px solid black;
  color: black;
  margin-bottom: 24px;
  width: 130px;
  height: 44px;
}
.btn-modal-auth:last-child {
  margin-right: 0;
}
.btn-modal-auth:hover, .btn-modal-auth:focus, .btn-modal-auth:active {
  border: 1px solid #ff6b01;
  background-color: #ff6b01;
  color: #fff;
}
@media (min-width: 768px) {
  .btn-modal-auth {
    width: 152px;
  }
}
@media (min-width: 1280px) {
  .btn-modal-auth {
    width: 152px;
  }
}

.btn_header {
  width: 100%;
  height: 44px;
}
.btn_header:hover, .btn_header:focus, .btn_header:active {
  border: 1px solid #ff6b01;
  background-color: #ff6b01;
  color: #fff;
}

.active_btn {
  border: 1px solid #ff6b01;
  background-color: #ff6b01;
  color: #fff;
}

.search-button {
  border: transparent;
  border-bottom: 1px solid #fff;
  background-color: transparent;
  cursor: pointer;
  width: 30px;
  height: 30px;
}

.delete-button {
  border: transparent;
  background-color: #ff6b01;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  top: 93%;
  left: 90%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.wrapper-btn {
  display: flex;
  justify-content: center;
}

.footer {
  background-color: grey;
  padding-top: 60px;
  color: white;
}
.footer__container {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .footer__container {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1280px) {
  .footer__container {
    align-items: baseline;
    justify-content: space-between;
  }
}
.footer__info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .footer__info {
    width: 231px;
  }
}
@media screen and (min-width: 1280px) {
  .footer__info {
    display: inline;
    margin-bottom: 0;
    margin-left: 0;
  }
}
.footer__address {
  display: inline-block;
  font-style: inherit;
  margin-top: 20px;
}
.footer__contacts {
  display: flex;
  flex-direction: column;
}
.footer__link {
  display: inline-block;
  color: var(--address-txt-contacts);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-top: 9px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__link:hover, .footer__link:focus {
  color: #ff6b01;
}
.footer__social-net {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  width: 100%;
}
@media screen and (min-width: 440px) {
  .footer__social-net {
    width: 206px;
  }
}
@media screen and (min-width: 768px) {
  .footer__social-net {
    width: 206px;
  }
}
@media screen and (min-width: 1280px) {
  .footer__social-net {
    display: inline;
    width: 206px;
    margin-left: 70px;
  }
}
.footer__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: white;
  margin-bottom: 20px;
}
.footer__social-net-list {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}
.footer__social-net-link {
  display: flex;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__social-net-link:hover, .footer__social-net-link:focus {
  background-color: #ff6b01;
}
.footer__social-icon {
  display: block;
  height: 20px;
  width: 20px;
  fill: white;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__social-net-link > .footer__social-icon {
  fill: white;
}
.footer__mailing {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .footer__mailing {
    width: 450px;
  }
}
@media screen and (min-width: 1280px) {
  .footer__mailing {
    display: inline;
    width: 570px;
    margin-left: 93px;
  }
}
.footer__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  gap: 12px;
}
.footer__form::-moz-placeholder {
  color: white;
  line-height: 1.25;
}
.footer__form:-ms-input-placeholder {
  color: white;
  line-height: 1.25;
}
.footer__form::placeholder {
  color: white;
  line-height: 1.25;
}
@media screen and (min-width: 1280px) {
  .footer__form {
    display: flex;
    flex-direction: row;
  }
}
.footer__input {
  width: 100%;
  height: 45px;
  max-width: 320px;
  border: 1px solid white;
  font-size: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 15px 16px;
  background-color: transparent;
  color: white;
  outline: none;
  margin-bottom: 20px;
}
@media screen and (min-width: 1280px) {
  .footer__input {
    width: 358px;
    margin-bottom: 0;
  }
}
.footer__input:hover, .footer__input:focus {
  cursor: pointer;
  border: 1px solid #ff6b01;
}
.footer__input::-moz-placeholder {
  color: white;
  opacity: 0.7;
}
.footer__input:-ms-input-placeholder {
  color: white;
  opacity: 0.7;
}
.footer__input::placeholder {
  color: white;
  opacity: 0.7;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  height: 40px;
}
.footer-content a {
  color: #fff;
  text-decoration: underline;
}
.footer-content a:hover {
  color: #ff6b01;
}

.scroll-to-top-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border: none;
  display: none;
  background-color: #ff6b01;
  color: #fff;
  width: 44px;
  height: 44px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.scroll-to-top-btn:hover, .scroll-to-top-btn:focus, .scroll-to-top-btn:active {
  border: 1px solid #ff6b01;
  background-color: #ff6b01;
  color: #fff;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  transform: scale(1.07);
}

.btn_icon {
  fill: #fff;
}/*# sourceMappingURL=index.css.map */