<!-- Benefits -->
<section class="section">
  <h2 class="title">Підхід до праці</h2>
  <ul class="benefit-list">
    <li class="benefit-list__item">
      <div class="benefit-list__canvas">
        <svg class="benefit-list__icon">
          <use href="./images/icons.svg#icon-antenna-1"></use>
        </svg>
      </div>
      <h3 class="benefit-list__title">Уважність до деталей</h3>
      <p class="benefit-list__description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem ab
        expedita ducimus debitis molestias, architecto veniam fugiat, aut nam
        error doloribus labore est officiis dolorum ullam amet obcaecati quaerat
        esse.
      </p>
    </li>
    <li class="benefit-list__item">
      <div class="benefit-list__canvas">
        <svg class="benefit-list__icon">
          <use href="./images/icons.svg#icon-clock-1"></use>
        </svg>
      </div>
      <h3 class="benefit-list__title">Пунктуальність</h3>
      <p class="benefit-list__description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat eaque
        rem impedit! Sequi, vel ab iure nisi ullam voluptate est sed enim
        excepturi, placeat blanditiis, illo adipisci id quaerat quisquam.
      </p>
    </li>
    <li class="benefit-list__item">
      <div class="benefit-list__canvas">
        <svg class="benefit-list__icon">
          <use href="./images/icons.svg#icon-diagram-1"></use>
        </svg>
      </div>
      <h3 class="benefit-list__title">Планування</h3>
      <p class="benefit-list__description">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat,
        facilis dolorum blanditiis laborum harum velit nulla. Corrupti, fugiat
        hic recusandae culpa maxime ut pariatur eveniet reiciendis nisi tempore
        quasi? Voluptas.
      </p>
    </li>
    <li class="benefit-list__item">
      <div class="benefit-list__canvas">
        <svg class="benefit-list__icon">
          <use href="./images/icons.svg#icon-astronaut-1"></use>
        </svg>
      </div>
      <h3 class="benefit-list__title">Сучасні технології</h3>
      <p class="benefit-list__description">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore
        mollitia quo impedit, nihil accusantium perferendis neque quaerat libero
        natus nam adipisci et asperiores hic aut earum. Ea quam ipsa vero!
      </p>
    </li>
  </ul>
</section>
