<!-- Benefits -->
<section id="benefits" class="section">
  <h2 class="title translate">Підхід до праці</h2>

  <ul class="benefit-list">
    <li class="benefit-list__item">
      <div class="benefit-list__canvas">
        <svg class="benefit-list__icon">
          <use href="./images/icons.svg#icon-clock-1"></use>
        </svg>
      </div>
      <h3 class="benefit-list__title translate">Швидкiсть</h3>
      <!-- <p class="benefit-list__description translate"> -->
      <p
        type="text"
        name="benefit_1"
        id="benefit_1"
        class="benefit-list__description translate"
        data-translate-key="benefit_1"
      >
        FCA price in one click. Request processing within 1 day. ECA
        verification within 2 weeks (ref link). Increase in shipment volume up
        to X10 - in one month
      </p>

      <!-- </p> -->
    </li>
    <li class="benefit-list__item">
      <div class="benefit-list__canvas">
        <svg class="benefit-list__icon">
          <use href="./images/icons.svg#icon-antenna-1"></use>
        </svg>
      </div>
      <h3 class="benefit-list__title translate">Якість</h3>
      <p
        type="text"
        name="benefit_2"
        id="benefit_2"
        class="benefit-list__description translate"
        data-translate-key="benefit_2"
      >
        Quality Made in Ukraine. Products of the highest quality, comply with
        international standards and production processes. ISO 22000, ISO 9001,
        ISO ... KOSHER, HALAL. With soul and love
      </p>
    </li>
    <li class="benefit-list__item">
      <div class="benefit-list__canvas">
        <svg class="benefit-list__icon">
          <use href="./images/icons.svg#icon-diagram-1"></use>
        </svg>
      </div>
      <h3 class="benefit-list__title translate">Надійність</h3>
      <p
        type="text"
        name="benefit_3"
        id="benefit_3"
        class="benefit-list__description translate"
        data-translate-key="benefit_3"
      >
        Production on modern equipment, long-standing traditions. Technologies
        are approved by specialized institutes. Working for the Result with
        delivery leads to an increase in trust in each other and reputation
      </p>
    </li>
  </ul>
</section>
