<!-- Benefits -->
<section id="benefits" class="section">
  <h2 class="title translate">Підхід до праці</h2>

  <ul class="benefit-list">
    <li class="benefit-list__item">
      <div class="benefit-list__canvas">
        <svg class="benefit-list__icon">
          <use href="./images/icons.svg#icon-clock-1"></use>
        </svg>
      </div>
      <h3 class="benefit-list__title translate">Швидкiсть</h3>
      <p class="benefit-list__description translate">
        Ціна FCA в один клік. Обробка запиту 1 доба. Верифікація ЕКА протягом 2
        тижнів (реф посилання). Збільшення Об’єму відвантаження до Х10 – за один
        місяць
      </p>
    </li>
    <li class="benefit-list__item">
      <div class="benefit-list__canvas">
        <svg class="benefit-list__icon">
          <use href="./images/icons.svg#icon-antenna-1"></use>
        </svg>
      </div>
      <h3 class="benefit-list__title translate">Якість</h3>
      <p class="benefit-list__description translate">
        Якість Made in Ukraine. Продукція найвищої якості, відповідає
        міжнародним стандартам, а також процессам виробництва. ISO 22000, ISO
        9001, ISO … KOSHER, HALAL. З душею і любов’ю
      </p>
    </li>
    <li class="benefit-list__item">
      <div class="benefit-list__canvas">
        <svg class="benefit-list__icon">
          <use href="./images/icons.svg#icon-diagram-1"></use>
        </svg>
      </div>
      <h3 class="benefit-list__title translate">Надійність</h3>
      <p class="benefit-list__description translate">
        Виробництво на сучасному обладнанні, багаторічні традиції. Технології
        затвержені профільними інститутами. Робота на Результат з доставкою -
        веде до збільшення Довіри один до одного і репутації
      </p>
    </li>
  </ul>
</section>
