<div class="menu__container">
  <button id="close_burger_btn" class="menu-toggle">
    <svg class="icon-menu nav_item">
      <use href="./images/icons.svg#icon-cross"></use>
    </svg>
  </button>
  <div class="menu__frame">
    <ul class="menu">
      <li>
        <a href="./index.html" id="home_btn" class="menu__link">Головна</a>
      </li>
      <li>
        <a href="./index.html" id="library_btn_menu" class="menu__link"
          >Продукція</a
        >
      </li>
      <li>
        <a
          href="./index.html#request-form"
          id="library_btn_menu"
          class="menu__link"
          >Форма запиту</a
        >
      </li>
    </ul>
    <div class="menu__overlay">
      <svg>
        <use href="./images/world.svg"></use>
      </svg>
    </div>

    <div class="menu__bottom">
      <ul class="menu__contacts">
        <li>
          <a href="tel:+380961111111" class="menu__contacts--link"
            >+38 096 111 11 11</a
          >
        </li>
        <li>
          <a href="mailto:info@devstudio.com" class="menu__contacts--link"
            >info@devstudio.com</a
          >
        </li>
      </ul>

      <ul class="menu__social-net">
        <li>
          <a href="#" class="menu__social-net--link">Instagram</a>
        </li>
        <li>
          <a href="#" class="menu__social-net--link">Twitter</a>
        </li>
        <li>
          <a href="#" class="menu__social-net--link">Facebook</a>
        </li>
        <li>
          <a href="#" class="menu__social-net--link">LinkedIn</a>
        </li>
      </ul>
    </div>
  </div>
</div>
