<div class="menu__container">
  <button aria-label="close button" class="menu-toggle">
    <svg class="icon-menu nav_item">
      <use href="./images/icons.svg#icon-close_24px"></use>
    </svg>
  </button>
  <div class="menu__frame">
    <ul class="menu">
      <li>
        <a href="./index.html" class="menu__link translate">Головна</a>
      </li>
      <li>
        <a href="#logistics" class="menu__link translate">Логістика</a>
      </li>
      <li>
        <a href="#products" class="menu__link translate">Продукція</a>
      </li>

      <li>
        <a href="#order-service" class="menu__link translate">Форма запиту</a>
      </li>
    </ul>
    <div class="menu__overlay">
      <svg>
        <use href="./images/world.svg"></use>
      </svg>
    </div>

    <div class="menu__bottom">
      <table>
        <tbody>
          <tr>
            <td class="footer__sub-title translate">Логістика</td>
            <td>
              <a href="mailto:GalatS@ukr.net" class="footer__link"
                >GalatS@ukr.net</a
              >
            </td>
          </tr>
          <tr>
            <td></td>
            <td>
              <a href="tel:+380630144512" class="footer__link"
                >+38 (063) 014-45-12</a
              >
            </td>
          </tr>
          <tr>
            <td></td>
            <td>
              <a href="tel:+380672536387" class="footer__link"
                >+38 (067) 253-63-87</a
              >
            </td>
          </tr>
          <tr>
            <td class="footer__sub-title translate">Експорт</td>
            <td>
              <a href="mailto:grigoris@ukr.net" class="footer__link"
                >grigoris@ukr.net</a
              >
            </td>
          </tr>
          <tr>
            <td></td>
            <td>
              <a href="tel:+380504731561" class="footer__link"
                >+38 (050) 473-15-61</a
              >
            </td>
          </tr>
        </tbody>
      </table>
      <!-- <ul class="menu__contacts">
        <li>
          <a href="tel:+380504731561" class="menu__contacts--link"
            >+38 (050) 473-15-61</a
          >
        </li>
        <li>
          <a href="mailto:grigoris@ukr.net" class="menu__contacts--link"
            >grigoris@ukr.net</a
          >
        </li>
      </ul> -->

      <ul class="menu__social-net">
        <li>
          <a href="#" class="menu__social-net--link">Instagram</a>
        </li>
        <li>
          <a href="#" class="menu__social-net--link">Twitter</a>
        </li>
        <li>
          <a href="#" class="menu__social-net--link">Facebook</a>
        </li>
        <li>
          <a href="#" class="menu__social-net--link">LinkedIn</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- id="library_btn_menu"
      id="library_btn_menu"
    id="home_btn"  -->

<!-- id="close_burger_btn" -->
