<div class="menu-container">
  <button id="close_burger_btn" class="menu-toggle">X</button>
  <div class="menu-frame">
    <ul class="mobile-menu">
      <li class="mobile-menu__item">
        <a href="#/" id="home_btn">Головна</a>
      </li>
      <li class="mobile-menu__item">
        <a href="#/products" id="library_btn_menu" class="nav_item_menu"
          >Продукція</a
        >
      </li>
      <li class="mobile-menu__item">
        <a href="#/projects" id="library_btn_menu" class="nav_item_menu"
          >Види діяльності</a
        >
      </li>
      <li class="mobile-menu__item">
        <a href="#/request-form" id="library_btn_menu" class="nav_item_menu"
          >Форма запиту</a
        >
      </li>
    </ul>

    <div class="menu-bottom">
      <ul class="mobile-contacts">
        <li class="mobile-contacts__item">
          <a href="tel:+380961111111">+38 096 111 11 11</a>
        </li>
        <li class="mobile-contacts__item">
          <a href="mailto:info@devstudio.com">info@devstudio.com</a>
        </li>
      </ul>

      <ul class="mobile-social-net">
        <li class="mobile-social-net__item">
          <a href="" class="mobile-social-net__link">Instagram</a>
        </li>
        <li class="mobile-social-net__item">
          <a href="" class="mobile-social-net__link">Twitter</a>
        </li>
        <li class="mobile-social-net__item">
          <a href="" class="mobile-social-net__link">Facebook</a>
        </li>
        <li class="mobile-social-net__item">
          <a href="" class="mobile-social-net__link">LinkedIn</a>
        </li>
      </ul>
    </div>
  </div>
</div>
