<!-- Footer -->
<footer class="footer">
  <div class="container footer__container">
    <div class="footer__info">
      <a href="#/" class="footer__title">Export service agency</a>
      <table>
        <tbody>
          <tr>
            <td class="footer__sub-title translate">Логістика</td>
            <td>
              <a href="mailto:GalatS@ukr.net" class="footer__link"
                >GalatS@ukr.net</a
              >
            </td>
          </tr>
          <tr>
            <td></td>
            <td>
              <a href="tel:+380630144512" class="footer__link"
                >+38 (063) 014-45-12</a
              >
            </td>
          </tr>
          <tr>
            <td></td>
            <td>
              <a href="tel:+380672536387" class="footer__link"
                >+38 (067) 253-63-87</a
              >
            </td>
          </tr>
          <tr>
            <td class="footer__sub-title translate">Експорт</td>
            <td>
              <a href="mailto:grigoris@ukr.net" class="footer__link"
                >grigoris@ukr.net</a
              >
            </td>
          </tr>
          <tr>
            <td></td>
            <td>
              <a href="tel:+380504731561" class="footer__link"
                >+38 (050) 473-15-61</a
              >
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="footer__social-net">
      <h2 class="footer__title translate">Приєднуйтесь</h2>
      <ul class="footer__social-net-list">
        <li class="footer__social-net-item">
          <a href="" class="footer__social-net-link">
            <svg class="footer__social-icon">
              <use href="./images/icons.svg#icon-instagram-2"></use>
            </svg>
          </a>
        </li>
        <li class="social-net-item">
          <a href="" class="footer__social-net-link">
            <svg class="footer__social-icon">
              <use href="./images/icons.svg#icon-twitter-1"></use>
            </svg>
          </a>
        </li>
        <li class="footer__social-net-item">
          <a href="" class="footer__social-net-link">
            <svg class="footer__social-icon">
              <use href="./images/icons.svg#icon-facebook-1"></use>
            </svg>
          </a>
        </li>
        <li class="footer__social-net-item">
          <a href="" class="footer__social-net-link">
            <svg class="footer__social-icon">
              <use href="./images/icons.svg#icon-linkedin-1"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <div class="footer__mailing">
      <h2 class="footer__title translate">Підпишіться на розсилку</h2>
      <div class="footer__form">
        <input type="text" class="footer__input" placeholder="E-mail" />
        <button type="button" class="button btn-modal white">
          <span class="translate">Підписатись</span>
          <svg class="button__icon" width="24" height="24">
            <use href="./images/icons.svg#icon-send"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
  <div class="container">
    <ul class="footer-content">
      <li class="footer-content-item">2024</li>
      <li class="footer-content-item">All Rights Reserved</li>
      <li class="footer-content-item">Developed By</li>
      <li class="footer-content-item">
        <a href="https://www.linkedin.com/in/maryna-danyliuk-"
          >Maryna Danyliuk</a
        >
      </li>
    </ul>
  </div>
</footer>

<!-- <footer class="footer">
  <div class="container">
    <ul class="footer-content">
      <li class="footer-content-item">2020</li>
      <li class="footer-content-item">All Rights Reserved</li>
      <li class="footer-content-item">Developed with</li>
      <li class="footer-content-item"><a>By GoIT Students</a></li>
    </ul>
  </div>
</footer> -->
