<header class="header">
  <div class="nav-wrapper">
    <a href="#/" class="logo">
      <span class="logo-name">Export Service Agency</span></a
    >
    <nav class="navigation">
      <ul class="nav-list">
        <li>
          <a href="#products" id="library_btn" class="nav_item">Продукція</a>
        </li>
        <li>
          <a href="#benefits" id="library_btn" class="nav_item"
            >Підхід до праці</a
          >
        </li>
        <li>
          <a href="#order-service" id="library_btn" class="nav_item"
            >Форма запиту</a
          >
        </li>
        <li>
          <!-- M -->
          <nav class="menu">
            <ul class="menu__list">
              <li>
                <a href="#" class="nav_item">Mova</a>
                <ul class="sub-menu__list">
                  <li>
                    <a>EN</a>
                  </li>
                  <li>
                    <a>UA</a>
                  </li>
                </ul>
              </li>
            </ul>
          </nav>
        </li>
      </ul>
      <!-- Burger menu -->
      <ul class="nav-list">
        <li>
          <a>
            <svg class="icon_menu" id="open_burger_btn">
              <use href="./images/icons.svg#icon-menu"></use></svg
          ></a>
        </li>
      </ul>
    </nav>
  </div>
</header>

<!-- nav_item nav-link dropdown-toggle -->

<!-- <div>
      <nav class="menu">
        <ul class="menu__list">
          <li>
            <a href="#" class="menu__link">Mova</a>
            <ul class="sub-menu__list">
              <li>
                <a>EN</a>
              </li>
              <li>
                <a>UA</a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </div> -->
