<header class="header">
  <div class="container">
    <div class="nav-wrapper">
      <a href="#/" class="logo">
        <span class="logo-name">Export Service Agency</span></a
      >
      <nav class="navigation">
        <ul class="nav-list">
          <!-- <li>
            <a href="#/" id="home_btn" class="nav_item nav_item--current"
              >Головна</a
            >
          </li> -->
          <li>
            <a href="#" id="library_btn" class="nav_item">Продукція</a>
          </li>
          <li>
            <a href="#" id="library_btn" class="nav_item">Види діяльності</a>
          </li>
          <li>
            <a href="#" id="library_btn" class="nav_item">Форма запиту</a>
          </li>
        </ul>
        <ul class="nav-list">
          <li>
            <a>
              <svg class="icon_menu" id="open_burger_btn">
                <use href="./images/icons.svg#icon-menu"></use></svg
            ></a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
