<header class="header">
  <div class="nav-wrapper">
    <a href="#/" class="logo">
      <span class="logo-name">Export Service Agency</span></a
    >
    <nav class="navigation">
      <ul class="nav-list">
        <li>
          <a href="#products" class="nav_item translate">Продукція</a>
        </li>
        <li>
          <a href="#benefits" class="nav_item translate">Підхід до праці</a>
        </li>
        <li>
          <a href="#order-service" class="nav_item translate">Форма запиту</a>
        </li>
        <li>
          <!-- Menu language -->
          <nav class="menu-lang">
            <ul class="menu__list">
              <li>
                <a href="#">
                  <svg class="icon-menu nav_item" style="display: block">
                    <use href="./images/icons.svg#icon-sphere"></use></svg
                ></a>
                <ul class="sub-menu__list">
                  <li>
                    <a href="#" class="lang-switcher" data-lang="en">EN</a>
                  </li>
                  <li>
                    <a href="#" class="lang-switcher" data-lang="ua">UA</a>
                  </li>
                </ul>
              </li>
            </ul>
          </nav>
        </li>
        <li>
          <!-- Burger menu -->
          <nav>
            <ul class="nav-list">
              <li>
                <a>
                  <svg class="icon-menu nav_item" id="open_burger_btn">
                    <use href="./images/icons.svg#icon-menu_24px"></use></svg
                ></a>
              </li>
            </ul>
          </nav>
        </li>
      </ul>
    </nav>
  </div>
</header>
