<!-- Hero -->
<section class="hero hero__overlay">
  <h1 class="hero__title translate">Будуємо мости Довіри</h1>
  <!-- hero-list - mobile -->
  <ul class="hero__list">
    <li class="hero__item">
      <span class="phrase move-right translate">З дня в день</span>
    </li>
    <li class="hero__item">
      <span class="phrase translate"> Експорт швидко розвиваєш - </span><br />
      <span class="phrase rotate translate"> популярність в світі маєш </span>
    </li>
    <li class="hero__item">
      <span class="phrase translate">Експорт – дисципліна для</span><br />
      <span class="phrase rotate translate"
        >цілеспрямованих і обов’язкових</span
      >
    </li>
    <li class="hero__item">
      <span class="phrase translate">Експорт – маленькі кроки, які</span><br />
      <span class="phrase rotate translate">з допомогою накопичувального</span
      ><br />
      <span class="phrase translate">ефекту приведуть до цілі</span>
    </li>
  </ul>

  <!-- hero-list - tablet -->
  <ul class="hero__list--tablet">
    <li class="hero__item">
      <span class="phrase move-right translate">З дня в день</span>
    </li>
    <li class="hero__item">
      <span class="phrase translate"> Експорт швидко розвиваєш - </span><br />
      <span class="phrase rotate translate"> популярність в світі маєш </span>
    </li>
    <li class="hero__item">
      <span class="phrase translate"
        >Експорт – дисципліна для цілеспрямованих</span
      ><br />
      <span class="phrase rotate translate">і обов’язкових</span>
    </li>
    <li class="hero__item">
      <span class="phrase translate"
        >Експорт – маленькі кроки, які з допомогою</span
      ><br />
      <span class="phrase rotate translate"
        >накопичувального ефекту приведуть до цілі</span
      >
    </li>
  </ul>

  <div class="hero__wrapper">
    <a href="#order-service" class="button btn-hero translate"
      >Замовити послугу</a
    >
  </div>
</section>
