<!-- Hero -->
<section class="hero hero__overlay">
  <h1 class="hero__title">Будуємо мости Довіри</h1>
  <ul class="hero__list">
    <li class="hero__item"><span class="phrase">З дня в день</span></li>
    <li class="hero__item">
      <span class="phrase">Експорт швидко розвиваєш</span>
      <br />
      <span class="phrase">– популярність в світі маєш</span>
    </li>
    <li class="hero__item">
      <span class="phrase">Експорт – дисципліна для </span><br />
      <span class="phrase">цілеспрямованих і обов’язкових</span>
    </li>
    <li class="hero__item">
      <span class="phrase">Експорт – маленькі кроки,</span><br />
      <span class="phrase">які з допомогою </span><br />
      <span class="phrase">накопичувального ефекту</span><br />
      <span class="phrase">приведуть до цілі</span>
    </li>
  </ul>

  <div class="hero__wrapper">
    <a href="#order-service" class="button btn-hero">Замовити послугу</a>
  </div>

  <!-- <div class="hero__thumb">
    <div class="hero__thumb--wrapper">
      <div class="hero__image--thumb">
        <img
          src="./images/products/e-ihracat.png"
          alt="експорт"
          class="hero__image"
        />
      </div>

      <div class="hero__wrapper">
        <a href="#order-service" class="button btn-hero">Замовити послугу</a>
      </div>
    </div>

    <ul class="hero__list">
      <li class="hero__item"><span class="phrase">З дня в день</span></li>
      <li class="hero__item">
        Експорт швидко розвиваєш – популярність в світі маєш
      </li>
      <li class="hero__item">
        Експорт – дисципліна для цілеспрямованих і обов’язкових
      </li>
      <li class="hero__item">
        Експорт – маленькі кроки які з допомогою накопичувального ефекту
        приведуть до цілі
      </li>
    </ul>
  </div> -->
</section>

<!-- <button type="button" class="button button--primary" data-modal-open>
      Заказать услугу
    </button> -->

<!-- Наша місія:<br /> -->
