<!-- Hero -->
<section class="hero hero__overlay">
  <div class="container">
    <h1 class="hero__title">Наша місія:<br />Будуємо мости Довіри</h1>
    <ul class="hero__list">
      <li class="hero__item">З дня в день</li>
      <li class="hero__item">
        Експорт швидко розвиваєш – популярність в світі маєш
      </li>
      <li class="hero__item">
        Експорт – дисципліна для цілеспрямованих і обов’язкових
      </li>
      <li class="hero__item">
        Експорт – маленькі кроки які з допомогою накопичувального ефекту
        приведуть до цілі
      </li>
    </ul>
    <div class="hero__wrapper">
      <a href="#order-service" class="button btn-hero">Замовити послугу</a>
    </div>
  </div>
</section>

<!-- <button type="button" class="button button--primary" data-modal-open>
      Заказать услугу
    </button> -->
