<section id="logistics" class="section">
  <h2 class="title translate">Логістика</h2>

  <p class="text translate">
    Логістика - основний фактор конкурентоспроможності
  </p>
  <ul class="project-list">
    <li class="project-list__item">
      <div class="project-list__overlay">
        <img
          srcset="./images/gruzovik.jpeg 1x, ./images/gruzovik.jpeg 2x"
          src="./images/gruzovik.jpeg"
          alt="Автоперевезення"
          class="project-list__image"
        />
        <p class="project-list__description translate">Автоперевезення</p>
      </div>
    </li>
    <li class="project-list__item">
      <div class="project-list__overlay">
        <img
          srcset="./images/ukrzaliznycia.png 1x, ./images/ukrzaliznycia.png 2x"
          src="./images/ukrzaliznycia.png"
          alt="Укрзалізниця"
          class="project-list__image"
        />
        <p class="project-list__description translate">Укрзалізниця</p>
      </div>
    </li>
    <li class="project-list__item">
      <div class="project-list__overlay">
        <img
          srcset="./images/Containers.jpg 1x, ./images/Containers.jpg 2x"
          src="./images/Containers.jpg"
          alt="Контейнери"
          class="project-list__image"
        />
        <p class="project-list__description translate">Контейнери</p>
      </div>
    </li>
    <li class="project-list__item">
      <div class="project-list__overlay">
        <img
          srcset="./images/dryPort.jpg 1x, ./images/dryPort.jpg 2x"
          src="./images/dryPort.jpg"
          alt="Сухий порт Матовці, Словаччина"
          class="project-list__image"
        />
        <p class="project-list__description translate">
          Сухий порт Матовці, Словаччина
        </p>
      </div>
    </li>
  </ul>
</section>
