<!-- Portfolio -->
<section class="section">
  <h2 class="title">Продукція</h2>
  <ul class="portfolio-list">
    <li class="portfolio-card">
      <a href="" class="portfolio-card__link">
        <div class="portfolio-card__thumb">
          <picture>
            <source
              srcset="
                ./images/portfolio_sq_jpg/1/1portfolio_1200_1x.jpg 1x,
                ./images/portfolio_sq_jpg/1/1portfolio_1200_2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/portfolio_sq_jpg/1/1portfolio_768_1x.jpg 1x,
                ./images/portfolio_sq_jpg/1/1portfolio_768_2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/portfolio_sq_jpg/1/1portfolio_480_1x.jpg 1x,
                ./images/portfolio_sq_jpg/1/1portfolio_480_2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./images/portfolio_sq_jpg/1/1portfolio_480_1x.jpg"
              alt="Открытый ноутбук"
              class="portfolio-card__image"
            />
          </picture>
          <p class="portfolio-card__overlay">
            Ресурс предлагает комплексные предложения с разным уровнем
            функционала и сервисов. Все это позволит посетителю получить
            исчерпывающие сведения о компании или частном лице.
          </p>
        </div>
        <div class="portfolio-card__info">
          <h3 class="portfolio-card__title">Технокряк</h3>
          <p class="portfolio-card__describtion">Веб-сайт</p>
        </div>
      </a>
    </li>
    <li class="portfolio-card">
      <a href="" class="portfolio-card__link">
        <div class="portfolio-card__thumb">
          <picture class="portfolio-card__image">
            <source
              srcset="
                ./images/portfolio_sq_jpg/2/2portfolio_1200_1x.jpg 1x,
                ./images/portfolio_sq_jpg/2/2portfolio_1200_2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/portfolio_sq_jpg/2/2portfolio_768_1x.jpg 1x,
                ./images/portfolio_sq_jpg/2/2portfolio_768_2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/portfolio_sq_jpg/2/2portfolio_480_1x.jpg 1x,
                ./images/portfolio_sq_jpg/2/2portfolio_480_2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./images/portfolio_sq_jpg/2/2portfolio_480_1x.jpg"
              alt="Постер с баскетболистами"
              class="portfolio-card__image"
            />
          </picture>

          <div class="portfolio-card__overlay">
            <p>
              Ресурс предлагает комплексные предложения с разным уровнем
              функционала и сервисов. Все это позволит посетителю получить
              исчерпывающие сведения о компании или частном лице.
            </p>
          </div>
        </div>
        <div class="portfolio-card__info">
          <h3 class="portfolio-card__title">Постер New Orlean vs Golden</h3>
          <p class="portfolio-card__describtion">Дизайн</p>
        </div>
      </a>
    </li>
    <li class="portfolio-card">
      <a href="" class="portfolio-card__link">
        <div class="portfolio-card__thumb">
          <picture>
            <source
              srcset="
                ./images/portfolio_sq_jpg/3/3portfolio_1200_1x.jpg 1x,
                ./images/portfolio_sq_jpg/3/3portfolio_1200_2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/portfolio_sq_jpg/3/3portfolio_768_1x.jpg 1x,
                ./images/portfolio_sq_jpg/3/3portfolio_768_2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/portfolio_sq_jpg/3/3portfolio_480_1x.jpg 1x,
                ./images/portfolio_sq_jpg/3/3portfolio_480_2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./images/portfolio_sq_jpg/3/3portfolio_480_1x.jpg"
              alt="Логотип рыбного ресторана"
              class="portfolio-card__image"
            />
          </picture>

          <p class="portfolio-card__overlay">
            Ресурс предлагает комплексные предложения с разным уровнем
            функционала и сервисов. Все это позволит посетителю получить
            исчерпывающие сведения о компании или частном лице.
          </p>
        </div>
        <div class="portfolio-card__info">
          <h3 class="portfolio-card__title">Ресторан Seafood</h3>
          <p class="portfolio-card__describtion">Приложение</p>
        </div>
      </a>
    </li>
  </ul>
</section>
