<!-- Portfolio -->
<section id="products" class="section">
  <h2 class="title">Продукція</h2>
  <ul class="portfolio-list">
    <li id="boroshno" class="portfolio-card">
      <a href="" class="portfolio-card__link">
        <div class="portfolio-card__thumb">
          <picture>
            <source
              srcset="
                ./images/products/boroshno.jpg 1x,
                ./images/products/boroshno.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/products/boroshno.jpg 1x,
                ./images/products/boroshno.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/products/boroshno.jpg 1x,
                ./images/products/boroshno.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./images/products/boroshno.jpg"
              alt="Борошно"
              class="portfolio-card__image"
            />
          </picture>
          <p class="portfolio-card__overlay">
            Борошно з зерен пшениці використовується віддавна практично скрізь.
            Воно незамінне в абсолютно різних сферах, починаючи з кухні і
            закінчуючи сільським господарством, де служить сировиною для
            виробництва кормів для тварин. Процеси виготовлення хлібобулочних
            виробів, приготування тіста, макаронів, пельменів, пирогів, оладок,
            млинців і різноманітних соусів теж не обходяться без борошна.
          </p>
        </div>
        <div class="portfolio-card__info">
          <h3 class="portfolio-card__title">Борошно пшеничне</h3>
        </div>
      </a>
    </li>
    <li class="portfolio-card">
      <a href="" class="portfolio-card__link">
        <div class="portfolio-card__thumb">
          <picture class="portfolio-card__image">
            <source
              srcset="
                ./images/products/tsukor.jpg 1x,
                ./images/products/tsukor.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/products/tsukor.jpg 1x,
                ./images/products/tsukor.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/products/tsukor.jpg 1x,
                ./images/products/tsukor.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./images/products/tsukor.jpg"
              alt="Постер с баскетболистами"
              class="portfolio-card__image"
            />
          </picture>

          <!-- <div > -->
          <p class="portfolio-card__overlay">
            Цукор — один із найпопулярніших продуктів на світовому ринку. Цукор
            (так звана сахароза) — це вуглевод, який зустрічається в природі в
            більшості фруктів та овочів. Це основний продукт фотосинтезу,
            процесу, за допомогою якого рослини перетворюють енергію сонячного
            світла у харчові продукти, такі як цукор. Цукор — загальний термін
            для класу підсолоджуючих речовин, що використовуються як харчові
            інгредієнти в харчовій промисловості. Як натуральна поживна
            речовина, цукор, також відомий як сахароза, є життєво-важливим
            компонентом нашого щоденного раціону.
          </p>
          <!-- </div> -->
        </div>
        <div class="portfolio-card__info">
          <h3 class="portfolio-card__title">Цукор з буряків</h3>
        </div>
      </a>
    </li>
    <li class="portfolio-card">
      <a href="" class="portfolio-card__link">
        <div class="portfolio-card__thumb">
          <picture>
            <source
              srcset="
                ./images/products/olia.png 1x,
                ./images/products/olia.png 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/products/olia.png 1x,
                ./images/products/olia.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/products/olia.png 1x,
                ./images/products/olia.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./images/products/olia.png"
              alt="Логотип рыбного ресторана"
              class="portfolio-card__image"
            />
          </picture>

          <p class="portfolio-card__overlay">
            Корисну, натуральну соняшникову олію виробляють з насіння соняшнику
            олійного типу. Соняшникова олія легка на смак і вигляд та містить
            більше вітаміну Е, ніж будь-яка інша рослинна олія. Це поєднання
            мононенасичених і поліненасичених жирів з низьким вмістом насичених
            жирів. Універсальність цієї корисної олії визнана кулінарами всього
            світу. Соняшникову олію цінують за її легкий смак, здатність до
            смаження та користь для здоров'я
          </p>
        </div>
        <div class="portfolio-card__info">
          <h3 class="portfolio-card__title">Олія соняшникова</h3>
          <!-- <p class="portfolio-card__describtion">Приложение</p> -->
        </div>
      </a>
    </li>
    <li class="portfolio-card">
      <a href="" class="portfolio-card__link">
        <div class="portfolio-card__thumb">
          <picture>
            <source
              srcset="
                ./images/products/kukurudza.jpg 1x,
                ./images/products/kukurudza.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/products/kukurudza.jpg 1x,
                ./images/products/kukurudza.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/products/kukurudza.jpg 1x,
                ./images/products/kukurudza.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./images/products/kukurudza.jpg"
              alt="Борошно"
              class="portfolio-card__image"
            />
          </picture>
          <p class="portfolio-card__overlay">
            Кукурудза — одна з найдавніших хлібних рослин на планеті, найбільша
            зі зернових. Сьогодні ця агрокультура входить до списку основних
            продовольчих продуктів і вважається разом з рисом та пшеницею одним
            із «трьох найголовніших хлібів людства». Із зерна кукурудзи
            отримують борошно, крупу, пластівці, консерви (цукрова кукурудза),
            крохмаль, етиловий спирт, декстрин, пиво, глюкозу, цукор, патоку,
            сироп, олію, вітамін Е, аскорбінову та глутамінову кислоти
          </p>
        </div>
        <div class="portfolio-card__info">
          <h3 class="portfolio-card__title">Зерно кукурудзи</h3>
          <!-- <p class="portfolio-card__describtion">Веб-сайт</p> -->
        </div>
      </a>
    </li>
  </ul>
</section>
