<!-- Projects -->
<section class="section">
  <h2 class="title">Наша діяльність</h2>
  <ul class="project-list">
    <li class="project-list__item">
      <div class="project-list__overlay">
        <img
          srcset="
            ./images/products/boroshno.jpg 1x,
            ./images/products/boroshno.jpg 2x
          "
          src="./images/products/boroshno.jpg"
          alt="Верстаємо сайт"
          class="project-list__image"
        />
        <p class="project-list__description">Борошно</p>
      </div>
    </li>
    <li class="project-list__item">
      <div class="project-list__overlay">
        <img
          srcset="
            ./images/products/tsukor.jpg 1x,
            ./images/products/tsukor.jpg 2x
          "
          src="./images/products/tsukor.jpg"
          alt="Адаптуємо під моб версію"
          class="project-list__image"
        />
        <p class="project-list__description">Цукор</p>
      </div>
    </li>
    <li class="project-list__item">
      <div class="project-list__overlay">
        <img
          srcset="./images/products/olia.jpg 1x, ./images/products/olia.jpg 2x"
          src="./images/products/olia.jpg"
          alt="Стилізуємо сайт"
          class="project-list__image"
        />
        <p class="project-list__description">Олія</p>
      </div>
    </li>
  </ul>
</section>


