<section id="order-service" class="section">
  <h1 class="title translate">Форма запиту</h1>
  <div class="form-frame">
    <div class="form-body">
      <form class="js-submit-form">
        <div class="wrapper">
          <div class="form">
            <h2 class="sub-title translate">Контактні дані:</h2>
            <p class="form__field">
              <label for="country" class="form__label"></label>
              <input
                placeholder="Країна"
                type="text"
                name="country"
                id="country"
                class="form__input address translate"
                data-translate-placeholder="Country"
                required
              />
            </p>
            <p class="form__field">
              <label for="city" class="form__label"></label>
              <input
                placeholder="Місто/Порт"
                type="city"
                name="city"
                id="city"
                class="form__input address translate"
                data-translate-placeholder="City/Port"
                required
              />
            </p>
            <p class="form__field">
              <label for="info" class="form__label"></label>
              <input
                placeholder="Інфо"
                type="text"
                name="info"
                id="info"
                class="form__input address translate"
                data-translate-placeholder="Info"
              />
            </p>

            <p class="form__field">
              <label for="name" class="form__label"></label>
              <input
                type="text"
                required
                title="Username must be two words separated by space."
                name="name"
                id="name"
                class="form__input"
              />
              <svg class="form__input-icon" width="18" height="18">
                <use href="./images/icons.svg#icon-person-black"></use>
              </svg>
            </p>
            <p class="form__field">
              <label for="tel" class="form__label"></label>
              <input type="text" name="tel" id="tel" class="form__input" />
              <svg class="form__input-icon" width="18" height="18">
                <use href="./images/icons.svg#icon-phone-black"></use>
              </svg>
            </p>
            <p class="form__field">
              <label for="email" class="form__label"></label>
              <input type="text" name="email" id="email" class="form__input" />
              <svg class="form__input-icon" width="18" height="18">
                <use href="./images/icons.svg#icon-email-black"></use>
              </svg>
            </p>
          </div>
          <div class="form">
            <h2 class="sub-title translate">Status:</h2>
            <div class="status">
              <label class="checkbox__label" for="status_1">
                <input
                  class="checkbox__input"
                  type="checkbox"
                  value=""
                  id="status_1"
                />
                <svg class="checkbox__icon-check" width="16" height="16">
                  <use href="./images/icons.svg#icon-check-1"></use>
                </svg>
                <svg class="checkbox__icon" width="16" height="16">
                  <use href="./images/icons.svg#icon-checkbox"></use>
                </svg>
                Trader
              </label>
            </div>
            <div class="status">
              <label class="checkbox__label" for="status_2">
                <input
                  class="checkbox__input"
                  type="checkbox"
                  value=""
                  id="status_2"
                />
                <svg class="checkbox__icon-check" width="16" height="15">
                  <use href="./images/icons.svg#icon-check-1"></use>
                </svg>
                <svg class="checkbox__icon" width="16" height="15">
                  <use href="./images/icons.svg#icon-checkbox"></use>
                </svg>
                Distributor
              </label>
            </div>
            <div class="status">
              <label for="status_3" class="checkbox__label">
                <input
                  class="checkbox__input"
                  type="checkbox"
                  value=""
                  id="status_3"
                />
                <svg class="checkbox__icon-check" width="16" height="15">
                  <use href="./images/icons.svg#icon-check-1"></use>
                </svg>
                <svg class="checkbox__icon" width="16" height="15">
                  <use href="./images/icons.svg#icon-checkbox"></use>
                </svg>
                Retail
              </label>
            </div>
            <div class="status">
              <label for="status_4" class="checkbox__label">
                <input
                  class="checkbox__input"
                  type="checkbox"
                  value=""
                  id="status_4"
                />
                <svg class="checkbox__icon-check" width="16" height="15">
                  <use href="./images/icons.svg#icon-check-1"></use>
                </svg>
                <svg class="checkbox__icon" width="16" height="15">
                  <use href="./images/icons.svg#icon-checkbox"></use>
                </svg>
                Consumer
              </label>
            </div>
            <div class="status">
              <label for="status_5" class="checkbox__label">
                <input
                  class="checkbox__input"
                  type="checkbox"
                  value=""
                  id="status_5"
                />
                <svg class="checkbox__icon-check" width="16" height="15">
                  <use href="./images/icons.svg#icon-check-1"></use>
                </svg>
                <svg class="checkbox__icon" width="16" height="15">
                  <use href="./images/icons.svg#icon-checkbox"></use>
                </svg>
                FAO
              </label>
            </div>
            <div class="status">
              <label for="status_6" class="checkbox__label">
                <input
                  class="checkbox__input"
                  type="checkbox"
                  value=""
                  id="status_6"
                />
                <svg class="checkbox__icon-check" width="16" height="15">
                  <use href="./images/icons.svg#icon-check-1"></use>
                </svg>
                <svg class="checkbox__icon" width="16" height="15">
                  <use href="./images/icons.svg#icon-checkbox"></use>
                </svg>
                Nazovni
              </label>
            </div>
          </div>
          <div class="form">
            <h2 class="sub-title">INCOTERMS 2020/Logistics:</h2>
            <div class="category">
              <label class="checkbox__label" for="catagory_1">
                <input
                  class="checkbox__input"
                  type="checkbox"
                  value=""
                  id="catagory_1"
                />
                <svg class="checkbox__icon-check" width="16" height="15">
                  <use href="./images/icons.svg#icon-check-1"></use>
                </svg>
                <svg class="checkbox__icon" width="16" height="15">
                  <use href="./images/icons.svg#icon-checkbox"></use>
                </svg>
                FCA
              </label>
            </div>
            <div class="category">
              <label class="checkbox__label" for="catagory_2">
                <input
                  class="checkbox__input"
                  type="checkbox"
                  value=""
                  id="catagory_2"
                />
                <svg class="checkbox__icon-check" width="16" height="15">
                  <use href="./images/icons.svg#icon-check-1"></use>
                </svg>
                <svg class="checkbox__icon" width="16" height="15">
                  <use href="./images/icons.svg#icon-checkbox"></use>
                </svg>
                DAP
              </label>
            </div>
            <div class="category">
              <label for="catagory_3" class="checkbox__label">
                <input
                  class="checkbox__input"
                  type="checkbox"
                  value=""
                  id="catagory_3"
                />
                <svg class="checkbox__icon-check" width="16" height="15">
                  <use href="./images/icons.svg#icon-check-1"></use>
                </svg>
                <svg class="checkbox__icon" width="16" height="15">
                  <use href="./images/icons.svg#icon-checkbox"></use>
                </svg>
                FOB
              </label>
            </div>
            <div class="category">
              <label for="catagory_4" class="checkbox__label">
                <input
                  class="checkbox__input"
                  type="checkbox"
                  value=""
                  id="catagory_4"
                />
                <svg class="checkbox__icon-check" width="16" height="15">
                  <use href="./images/icons.svg#icon-check-1"></use>
                </svg>
                <svg class="checkbox__icon" width="16" height="15">
                  <use href="./images/icons.svg#icon-checkbox"></use>
                </svg>
                CIF
              </label>
            </div>
          </div>
        </div>
        <div>
          <label for="comment" class="sub-title translate">Коментар:</label>
          <textarea
            class="form__comment-area"
            name="comment"
            id="comment"
            placeholder="Введіть текст"
          ></textarea>
        </div>
        <p class="checkbox">
          <label for="mailing" class="checkbox__label">
            <input
              class="checkbox__input"
              type="checkbox"
              name="mailing"
              value="mailing"
              id="mailing"
            />
            <svg class="checkbox__icon-check" width="16" height="15">
              <use href="./images/icons.svg#icon-check-1"></use>
            </svg>
            <svg class="checkbox__icon" width="16" height="15">
              <use href="./images/icons.svg#icon-checkbox"></use>
            </svg>
            <span class="agreement translate"
              >Я погоджуюсь з політикою компанії та надаю згоду на обробку
              персональних данних</span
            >

            <a href="#" class="checkbox__link translate"
              >Ознайомитись з політикою компанії</a
            >
          </label>
        </p>
        <div class="wrapper-btn">
          <button type="submit" class="button btn-hero translate">
            Відправити
          </button>
        </div>
      </form>
    </div>
  </div>
</section>

<!-- pattern="^[a-zA-Z]+\s[a-zA-Z]+$" -->
<!-- _______________________ -->

<!-- <form class="form js-submit-form">
        <p class="form__field">
          <label for="tel" class="form__label"></label>
          <input type="tel" name="tel" id="tel" class="form__input" />
        </p>

        <p class="form__field">
          <label for="mail" class="form__label"></label>
          <input type="email" name="mail" id="mail" class="form__input" />
        </p>
        <p class="form__field">
          <label for="name" class="form__label"></label>
          <input type="text" name="name" id="name" class="form__input" />
        </p>
        <p class="form__field">
          <label for="name" class="form__label"></label>
          <input type="text" name="name" id="name" class="form__input" />
        </p>
        <p class="form__field">
          <label for="name" class="form__label"></label>
          <input type="text" name="name" id="name" class="form__input" />
        </p>
        <p class="form__field">
          <label for="name" class="form__label"></label>
          <input type="text" name="name" id="name" class="form__input" />
        </p>
      </form> -->

<!-- __________________________________________________ -->

<!-- <p class="form_checkbox">
          <label for="mailing" class="checkbox__label">
            <input
              class="checkbox__input"
              type="checkbox"
              name="mailing"
              value="mailing"
              id="mailing"
            />
            <svg class="checkbox__icon-check" width="16" height="15">
              <use href="./images/icons.svg#icon-check-1"></use>
            </svg>
            <svg class="checkbox__icon" width="16" height="15">
              <use href="./images/icons.svg#icon-checkbox"></use>
            </svg>
            WDSGAS
          </label>
        </p>
        <p class="form_checkbox">
          <label for="mailing" class="checkbox__label">
            <input
              class="checkbox__input"
              type="checkbox"
              name="mailing"
              value="mailing"
              id="mailing"
            />
            <svg class="checkbox__icon-check" width="16" height="15">
              <use href="./images/icons.svg#icon-check-1"></use>
            </svg>
            <svg class="checkbox__icon" width="16" height="15">
              <use href="./images/icons.svg#icon-checkbox"></use>
            </svg>
            WDSGAS
          </label>
        </p> -->
<!-- checked -->

<!-- <form class="form js-submit-form">
        <p class="form__field">
          <label for="name" class="form__label"></label>
          <input type="text" name="name" id="name" class="form__input" />
        </p>

        <p class="form__field">
          <label for="tel" class="form__label"></label>
          <input type="tel" name="tel" id="tel" class="form__input" />
        </p>
        <p class="form__field">
          <label for="mail" class="form__label"></label>
          <input type="email" name="mail" id="mail" class="form__input" />
        </p>
        <p class="form__field">
          <label for="name" class="form__label"></label>
          <input type="text" name="name" id="name" class="form__input" />
        </p>
        <p class="form__field">
          <label for="name" class="form__label"></label>
          <input type="text" name="name" id="name" class="form__input" />
        </p>
        <p class="form__field">
          <label for="name" class="form__label"></label>
          <input type="text" name="name" id="name" class="form__input" />
        </p>
      </form> -->
