<!-- Team -->
<section class="section section__team">
  <div class="container">
    <h2 class="title">Наша команда</h2>
    <ul class="team">
      <li class="team__card">
        <picture>
          <source
            srcset="
              ./images/index_sq_jpg/Team/1team_1200_1x.jpg 1x,
              ./images/index_sq_jpg/Team/1team_1200_2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/index_sq_jpg/Team/1team_768_1x.jpg 1x,
              ./images/index_sq_jpg/Team/1team_768_2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/index_sq_jpg/Team/1team_480_1x.jpg 1x,
              ./images/index_sq_jpg/Team/1team_480_2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <!-- <img
                src="./images/index_sq_jpg/Team/1team_1x_480.jpg"
                alt="Игорь Демьяненко"
                width="270"
              /> -->
        </picture>
        <div class="team__info">
          <h3 class="team__title">Игорь Демьяненко</h3>
          <p class="team__description" lang="en">Product Designer</p>
          <ul class="social-net">
            <li class="social-net__item">
              <a href="" class="social-net__link">
                <svg class="social-net__icon">
                  <use href="./images/icons.svg#icon-instagram-2"></use>
                </svg>
              </a>
            </li>
            <li class="social-net__item">
              <a href="" class="social-net__link">
                <svg class="social-net__icon">
                  <use href="./images/icons.svg#icon-twitter-1"></use>
                </svg>
              </a>
            </li>
            <li class="social-net__item">
              <a href="" class="social-net__link">
                <svg class="social-net__icon">
                  <use href="./images/icons.svg#icon-facebook-1"></use>
                </svg>
              </a>
            </li>
            <li class="social-net__item">
              <a href="" class="social-net__link">
                <svg class="social-net__icon">
                  <use href="./images/icons.svg#icon-linkedin-1"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team__card">
        <picture>
          <source
            srcset="
              ./images/index_sq_jpg/Team/2team_1200_1x.jpg 1x,
              ./images/index_sq_jpg/Team/2team_1200_2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/index_sq_jpg/Team/2team_768_1x.jpg 1x,
              ./images/index_sq_jpg/Team/2team_768_2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/index_sq_jpg/Team/2team_480_1x.jpg 1x,
              ./images/index_sq_jpg/Team/2team_480_2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./images/index_sq_jpg/img2.jpg"
            alt="Ольга Репина"
            width="270"
          />
        </picture>
        <div class="team__info">
          <h3 class="team__title">Ольга Репина</h3>
          <p class="team__description" lang="en">Frontend Developer</p>
          <ul class="social-net">
            <li class="social-net__item">
              <a href="" class="social-net__link">
                <svg class="social-net__icon">
                  <use href="./images/icons.svg#icon-instagram-2"></use>
                </svg>
              </a>
            </li>
            <li class="social-net__item">
              <a href="" class="social-net__link">
                <svg class="social-net__icon">
                  <use href="./images/icons.svg#icon-twitter-1"></use>
                </svg>
              </a>
            </li>
            <li class="social-net__item">
              <a href="" class="social-net__link">
                <svg class="social-net__icon">
                  <use href="./images/icons.svg#icon-facebook-1"></use>
                </svg>
              </a>
            </li>
            <li class="social-net__item">
              <a href="" class="social-net__link">
                <svg class="social-net__icon">
                  <use href="./images/icons.svg#icon-linkedin-1"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team__card">
        <picture>
          <source
            srcset="
              ./images/index_sq_jpg/Team/3team_1200_1x.jpg 1x,
              ./images/index_sq_jpg/Team/3team_1200_2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/index_sq_jpg/Team/3team_768_1x.jpg 1x,
              ./images/index_sq_jpg/Team/3team_768_2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/index_sq_jpg/Team/3team_480_1x.jpg 1x,
              ./images/index_sq_jpg/Team/3team_480_2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./images/index_sq_jpg/img3.jpg"
            alt="Николай Тарасов"
            width="270"
          />
        </picture>
        <div class="team__info">
          <h3 class="team__title">Николай Тарасов</h3>
          <p class="team__description" lang="en">Marketing</p>
          <ul class="social-net">
            <li class="social-net__item">
              <a href="" class="social-net__link">
                <svg class="social-net__icon">
                  <use href="./images/icons.svg#icon-instagram-2"></use>
                </svg>
              </a>
            </li>
            <li class="social-net__item">
              <a href="" class="social-net__link">
                <svg class="social-net__icon">
                  <use href="./images/icons.svg#icon-twitter-1"></use>
                </svg>
              </a>
            </li>
            <li class="social-net__item">
              <a href="" class="social-net__link">
                <svg class="social-net__icon">
                  <use href="./images/icons.svg#icon-facebook-1"></use>
                </svg>
              </a>
            </li>
            <li class="social-net__item">
              <a href="" class="social-net__link">
                <svg class="social-net__icon">
                  <use href="./images/icons.svg#icon-linkedin-1"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team__card">
        <picture>
          <source
            srcset="
              ./images/index_sq_jpg/Team/4team_1200_1x.jpg 1x,
              ./images/index_sq_jpg/Team/4team_1200_2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/index_sq_jpg/Team/4team_768_1x.jpg 1x,
              ./images/index_sq_jpg/Team/4team_768_2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/index_sq_jpg/Team/4team_480_1x.jpg 1x,
              ./images/index_sq_jpg/Team/4team_480_2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./images/index_sq_jpg/img4.jpg"
            alt="Михаил Ермаков"
            width="270"
          />
        </picture>
        <div class="team__info">
          <h3 class="team__title">Михаил Ермаков</h3>
          <p class="team__description" lang="en">UI Designer</p>
          <ul class="social-net">
            <li class="social-net__item">
              <a href="" class="social-net__link">
                <svg class="social-net__icon">
                  <use href="./images/icons.svg#icon-instagram-2"></use>
                </svg>
              </a>
            </li>
            <li class="social-net__item">
              <a href="" class="social-net__link">
                <svg class="social-net__icon">
                  <use href="./images/icons.svg#icon-twitter-1"></use>
                </svg>
              </a>
            </li>
            <li class="social-net__item">
              <a href="" class="social-net__link">
                <svg class="social-net__icon">
                  <use href="./images/icons.svg#icon-facebook-1"></use>
                </svg>
              </a>
            </li>
            <li class="social-net__item">
              <a href="" class="social-net__link">
                <svg class="social-net__icon">
                  <use href="./images/icons.svg#icon-linkedin-1"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>
